Repository nix-community/home-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: mail, neovim, shell, calendar, contacts

fish: make generation of completions optional
  modules/programs/fish.nix
Labels: none

deploy: 1d9b4a3e60398572f4a760bc93f89ebeebbdb3e2
  options.xhtml
Labels: none

broot: allow multiple keyboard keys per verb
  modules/programs/broot.nix
Labels: none

deploy: 800a191f33ce7311e5070ff10d6fb5030b55fdde
  options.xhtml
Labels: none

broot: fix minor documentation bug
  modules/programs/broot.nix
Labels: none

deploy: e43902a7d6df1ce25063d59fa35ab786fa9f7704
  options.xhtml
Labels: none

flake.lock: Update
  flake.lock
Labels: none

activitywatch: reduce test closure
  tests/modules/services/activitywatch/basic-setup.nix
Labels: none

zed-editor: add module
  modules/lib/maintainers.nix
  modules/misc/news.nix
  modules/modules.nix
  modules/programs/zed-editor.nix
  tests/default.nix
  tests/modules/programs/zed-editor/default.nix
  tests/modules/programs/zed-editor/extensions.nix
  tests/modules/programs/zed-editor/keymap.nix
  tests/modules/programs/zed-editor/settings.nix
Labels: none

syncthing: expand declarative config
  modules/services/syncthing.nix
  tests/modules/services/syncthing/common/extra-options.nix
Labels: none

firefox: conditional search file
  modules/programs/firefox/mkFirefoxModule.nix
Labels: none

thunderbird: conditional search file
  modules/programs/thunderbird.nix
Labels: mail

tests/firefox: add shared path test
  tests/modules/programs/firefox/common.nix
  tests/modules/programs/firefox/profiles/shared-path.nix
Labels: none

cliphist: support multiple systemdTargets properly
  modules/services/cliphist.nix
  tests/modules/services/cliphist/cliphist-multiple-session-targets.nix
  tests/modules/services/cliphist/default.nix
Labels: none

cmus: added myself as maintainer and improved description
  modules/lib/maintainers.nix
  modules/programs/cmus.nix
Labels: none

direnv/nushell: simplify, work around nushell/nushell#14112
  modules/programs/direnv.nix
Labels: none

deploy: e78cbb20276f09c1802e62d2f77fc93ec32da268
  options.xhtml
Labels: none

waylogout: added configuration module
  modules/lib/maintainers.nix
  modules/modules.nix
  modules/programs/waylogout.nix
Labels: none

swaync: allow systemd target to be changed
  modules/services/swaync.nix
  tests/modules/services/swaync/swaync.nix
Labels: none

direnv: simplify, work around nushell/nushell#14112
  modules/programs/direnv.nix
Labels: none

direnv: remove nushell hack
  modules/programs/direnv.nix
  tests/modules/programs/direnv/nushell.nix
Labels: none

thunderbird: conditional search file
  modules/programs/thunderbird.nix
Labels: mail

tests/firefox: add shared path test
  tests/modules/programs/firefox/common.nix
  tests/modules/programs/firefox/profiles/shared-path.nix
Labels: none

firefox: conditional search file
  modules/programs/firefox/mkFirefoxModule.nix
Labels: none

cmus: add module
  modules/lib/maintainers.nix
  modules/misc/news.nix
  modules/modules.nix
  modules/programs/cmus.nix
  tests/default.nix
  tests/modules/programs/cmus/cmus.nix
  tests/modules/programs/cmus/default.nix
Labels: none

deploy: 09a0c0c02953318bf94425738c7061ffdc4cba75
  options.xhtml
Labels: none

firefox: change container.json version to 5
  modules/programs/firefox/mkFirefoxModule.nix
  tests/modules/programs/firefox/profiles/containers/expected-containers.json
Labels: none

espanso: add sandboxing for systemd service
  modules/services/espanso.nix
  tests/modules/services/espanso/basic-configuration.service
Labels: none

espanso: use `launcher` command on Linux
  modules/services/espanso.nix
  tests/modules/services/espanso/basic-configuration.service
Labels: none

podman: large-scale cleanup and uses singular extraConfig
  modules/lib/maintainers.nix
  modules/services/podman-linux/activation.nix
  modules/services/podman-linux/containers.nix
  modules/services/podman-linux/default.nix
  modules/services/podman-linux/install-quadlet.nix
  modules/services/podman-linux/networks.nix
  modules/services/podman-linux/options.nix
  modules/services/podman-linux/podman-lib.nix
  modules/services/podman-linux/services.nix
  tests/modules/services/podman-linux/container.nix
  tests/modules/services/podman-linux/default.nix
  tests/modules/services/podman-linux/integration.nix
  tests/modules/services/podman-linux/manifest.nix
  tests/modules/services/podman-linux/network.nix
Labels: none

espanso: use `launcher` command on Linux
  modules/services/espanso.nix
  tests/modules/services/espanso/basic-configuration.service
Labels: none

firefox: change container.json version to 5
  modules/programs/firefox/mkFirefoxModule.nix
  tests/modules/programs/firefox/profiles/containers/expected-containers.json
Labels: none

modules/neovim: fix config generation
  modules/programs/neovim.nix
Labels: neovim

atuin: assert version >= 18.2.0 when daemon is enabled
  modules/programs/atuin.nix
Labels: none

nh: add module
  modules/misc/news.nix
  modules/modules.nix
  modules/programs/nh.nix
Labels: none

deploy: 892a6443b7676207490c83d181367ba3abcb1f23
  options.xhtml
Labels: none

zoxide: fix fzf bash-completion conflict
  modules/programs/zoxide.nix
Labels: none

eww: added improvements
  modules/programs/eww.nix
Labels: none

eww: added config options & made all config options all optional
  modules/programs/eww.nix
Labels: none

eww: added tests
  tests/default.nix
  tests/modules/programs/eww/basic-configuration.nix
  tests/modules/programs/eww/basic-configuration.service
  tests/modules/programs/eww/default.nix
Labels: none

.github/labeler.yml:

"mail":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/aerc*.nix
    - modules/programs/alot*.nix
    - tests/modules/programs/aerc/*
    - tests/modules/programs/alot/*
    - modules/programs/mujmap.nix
    - tests/modules/programs/mujmap/*
    - modules/programs/notmuch.nix
    - modules/programs/neomutt*
    - tests/modules/programs/neomutt/*
    - modules/programs/getmail*
    - modules/*/mbsync*
    - tests/modules/programs/mbsync/*
    - modules/programs/himalaya.nix
    - tests/modules/programs/himalaya/*
    - modules/programs/thunderbird.nix
    - tests/modules/programs/thunderbird/*
    - modules/services/imapnotify.nix

"neovim":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/neovim.nix
    - tests/modules/programs/neovim/**/*

"shell":
- changed-files:
  - any-glob-to-any-file:
    - modules/lib/zsh.nix
    - modules/programs/zsh*
    - modules/programs/bash*
    - tests/modules/programs/zsh/**/*

"calendar":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/khal*
    - modules/*/vdirsyncer*
    - modules/accounts/calendar.nix

"contacts":
- changed-files:
  - any-glob-to-any-file:
    - modules/accounts/contacts.nix
