Repository nix-community/home-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: mail, neovim, shell, calendar, contacts

deploy: 441fae847ddfe20f9f9a4c47345691a205bb772c
  options.xhtml
Labels: none

yazi: update keymap config
  modules/programs/yazi.nix
  tests/modules/programs/yazi/keymap-expected.toml
  tests/modules/programs/yazi/settings.nix
Labels: none

deploy: 7f78e2d1c6a9db76444e02a73f0669ebb79f8833
  options.xhtml
Labels: none

nix-your-shell: add module
  modules/misc/news.nix
  modules/modules.nix
  modules/programs/nix-your-shell.nix
  tests/default.nix
  tests/modules/programs/nix-your-shell/default.nix
  tests/modules/programs/nix-your-shell/enable-shells.nix
Labels: none

deploy: e71e678d18d1a24e01d823ccb72df13f9e82f65b
  options.xhtml
Labels: none

kubecolor: add module
  modules/misc/news.nix
  modules/modules.nix
  modules/programs/kubecolor.nix
  tests/default.nix
  tests/modules/programs/kubecolor/default.nix
  tests/modules/programs/kubecolor/empty-config.nix
  tests/modules/programs/kubecolor/example-config-default-paths.nix
  tests/modules/programs/kubecolor/example-config-xdg-paths.nix
Labels: none

deploy: 863273505016a1e88e4ffaec48d1b767104c5652
  options.xhtml
Labels: none

podman-container: fix tests and failing podman 5.3.0 service
  modules/services/podman-linux/services.nix
  tests/modules/services/podman-linux/container-expected.service
  tests/modules/services/podman-linux/integration-container-expected.service
  tests/modules/services/podman-linux/integration-network-expected.service
  tests/modules/services/podman-linux/network-expected.service
Labels: none

alot: make package used by module configurable
  modules/programs/alot.nix
Labels: mail

deploy: c1fee8d4a60b89cae12b288ba9dbc608ff298163
  options.xhtml
Labels: none

nix-your-shell: Fix creating required directory
  modules/programs/nix-your-shell.nix
Labels: none

nix-your-shell: fix creating required directory
  modules/programs/nix-your-shell.nix
Labels: none

podman-container: fix tests and failing podman 5.3.0 service
  modules/services/podman-linux/services.nix
  tests/modules/services/podman-linux/container-expected.service
  tests/modules/services/podman-linux/integration-container-expected.service
  tests/modules/services/podman-linux/integration-network-expected.service
  tests/modules/services/podman-linux/network-expected.service
Labels: none

tmux: add 'focusEvents'
  modules/programs/tmux.nix
  tests/modules/programs/tmux/default-shell.conf
  tests/modules/programs/tmux/disable-confirmation-prompt.conf
  tests/modules/programs/tmux/emacs-with-plugins.conf
  tests/modules/programs/tmux/mouse-enabled.conf
  tests/modules/programs/tmux/prefix.conf
  tests/modules/programs/tmux/shortcut-without-prefix.conf
  tests/modules/programs/tmux/vi-all-true.conf
Labels: none

deploy: bf23fe41082aa0289c209169302afd3397092f22
  options.xhtml
Labels: none

zsh: make autosuggest strategy accept more options
  modules/programs/zsh.nix
Labels: shell

atuin: configure daemon using systemd and launchd
  modules/programs/atuin.nix
Labels: none

atuin: add water-sucks as maintainer
  modules/programs/atuin.nix
Labels: none

atuin: assert version >= 18.2.0 when daemon is enabled
  modules/programs/atuin.nix
Labels: none

atuin: capitalize mentions of "atuin"
  modules/programs/atuin.nix
Labels: none

atuin: make daemon log level configurable
  modules/programs/atuin.nix
Labels: none

oh-my-posh: added option to supply config path
  modules/programs/oh-my-posh.nix
Labels: none

podman: added volume, image, and build quadlets
  modules/services/podman-linux/activation.nix
  modules/services/podman-linux/builds.nix
  modules/services/podman-linux/containers.nix
  modules/services/podman-linux/default.nix
  modules/services/podman-linux/images.nix
  modules/services/podman-linux/podman-lib.nix
  modules/services/podman-linux/services.nix
  modules/services/podman-linux/volumes.nix
  tests/modules/services/podman-linux/build-expected.service
  tests/modules/services/podman-linux/build.nix
  tests/modules/services/podman-linux/default.nix
  tests/modules/services/podman-linux/image-expected.service
  tests/modules/services/podman-linux/image.nix
  tests/modules/services/podman-linux/integration-build-expected.service
  tests/modules/services/podman-linux/integration-container-bld-expected.service
  tests/modules/services/podman-linux/integration-image-expected.service
  tests/modules/services/podman-linux/integration-volume-expected.service
  tests/modules/services/podman-linux/integration.nix
  tests/modules/services/podman-linux/volume-expected.service
  tests/modules/services/podman-linux/volume.nix
Labels: none

home-manager: support username with special chars
  home-manager/home-manager
Labels: none

wpaperd: add systemd service; move to services/ from programs/
  modules/misc/news.nix
  modules/modules.nix
  modules/programs/wpaperd.nix
  modules/services/wpaperd.nix
  tests/default.nix
  tests/modules/services/wpaperd/default.nix
  tests/modules/services/wpaperd/wpaperd-example-settings.nix
  tests/modules/services/wpaperd/wpaperd-expected-settings.toml
Labels: none

waylogout: added configuration module
  modules/lib/maintainers.nix
  modules/modules.nix
  modules/programs/waylogout.nix
Labels: none

zen-browser: init
  modules/lib/maintainers.nix
  modules/modules.nix
  modules/programs/firefox/mkFirefoxModule.nix
  modules/programs/zen.nix
Labels: none

kakoune: add missing '.source' from colorSchemePackage xdg file
  modules/programs/kakoune.nix
Labels: none

feat: add ci to rebase with upstream twice a day
  .github/workflows/upstream-rebase.yml
Labels: none

Update upstream-rebase.yml
  .github/workflows/upstream-rebase.yml
Labels: none

Update upstream-rebase.yml
  .github/workflows/upstream-rebase.yml
Labels: none

podman: added preserve attribute to volume quadlet
  modules/services/podman-linux/activation.nix
  modules/services/podman-linux/volumes.nix
  tests/modules/services/podman-linux/integration-volume-expected.service
  tests/modules/services/podman-linux/integration.nix
  tests/modules/services/podman-linux/volume-expected.service
Labels: none

podman: resolved issue with invalid build image reference
  modules/services/podman-linux/containers.nix
  tests/modules/services/podman-linux/integration-container-bld-expected.service
Labels: none

podman: removed buggy Build pull attribute
  modules/services/podman-linux/builds.nix
Labels: none

podman: fixed volume cleanup script
  modules/services/podman-linux/activation.nix
Labels: none

deploy: 92e644a95ef4545fb0b0d943ea1f7dd29b151ec3
  options.xhtml
Labels: none

flake.lock: Update
  flake.lock
Labels: none

kakoune: fix color scheme package XDG file
  modules/programs/kakoune.nix
Labels: none

Translate using Weblate (Finnish)
  home-manager/po/fi.po
Labels: none

qt: update tooling for Plasma 6
  modules/misc/qt/kconfig.nix
Labels: none

.github/labeler.yml:

"mail":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/aerc*.nix
    - modules/programs/alot*.nix
    - tests/modules/programs/aerc/*
    - tests/modules/programs/alot/*
    - modules/programs/mujmap.nix
    - tests/modules/programs/mujmap/*
    - modules/programs/notmuch.nix
    - modules/programs/neomutt*
    - tests/modules/programs/neomutt/*
    - modules/programs/getmail*
    - modules/*/mbsync*
    - tests/modules/programs/mbsync/*
    - modules/programs/himalaya.nix
    - tests/modules/programs/himalaya/*
    - modules/programs/thunderbird.nix
    - tests/modules/programs/thunderbird/*
    - modules/services/imapnotify.nix

"neovim":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/neovim.nix
    - tests/modules/programs/neovim/**/*

"shell":
- changed-files:
  - any-glob-to-any-file:
    - modules/lib/zsh.nix
    - modules/programs/zsh*
    - modules/programs/bash*
    - tests/modules/programs/zsh/**/*

"calendar":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/khal*
    - modules/*/vdirsyncer*
    - modules/accounts/calendar.nix

"contacts":
- changed-files:
  - any-glob-to-any-file:
    - modules/accounts/contacts.nix
