Repository nix-community/home-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: mail, neovim, shell, calendar, contacts

starship: add xonsh integration
  modules/programs/starship.nix
Labels: none

command-not-found: add xonsh integration
  modules/programs/command-not-found/command-not-found.nix
Labels: none

yazi: add xonsh integration
  modules/programs/yazi.nix
  tests/modules/programs/yazi/default.nix
  tests/modules/programs/yazi/xonsh-integration-enabled.nix
Labels: none

hyprland: make package nullable
  modules/services/window-managers/hyprland.nix
  tests/modules/services/window-managers/hyprland/default.nix
  tests/modules/services/window-managers/hyprland/null-package.nix
Labels: none

sway: indent sway configuration options
  modules/services/window-managers/i3-sway/sway.nix
  tests/modules/services/window-managers/sway/sway-modules.conf
Labels: none

floorp: add module
  modules/modules.nix
  modules/programs/floorp.nix
  tests/default.nix
  tests/modules/programs/firefox/floorp.nix
  tests/modules/programs/firefox/profile-settings-expected-bookmarks-user.js
  tests/modules/programs/firefox/profile-settings-expected-search-without-default.json
  tests/modules/programs/firefox/profile-settings-expected-search.json
  tests/modules/programs/firefox/profile-settings.nix
Labels: none

nix-direnv: Override the `nix-direnv` package with `nix` from `config.nix.package`
  modules/programs/direnv.nix
Labels: none

neovide: add module
  modules/lib/maintainers.nix
  modules/misc/news.nix
  modules/modules.nix
  modules/programs/neovide.nix
  tests/default.nix
  tests/modules/programs/neovide/default.nix
  tests/modules/programs/neovide/expected.toml
  tests/modules/programs/neovide/neovide.nix
Labels: none

clipse: add module
  modules/lib/maintainers.nix
  modules/modules.nix
  modules/services/clipse.nix
  tests/default.nix
  tests/modules/services/clipse/clipse-sway-session-target.nix
  tests/modules/services/clipse/default.nix
Labels: none

xdg: add option 'xdg.stateFile'
  modules/misc/xdg.nix
  tests/modules/misc/xdg/file-gen.nix
Labels: none

zed-editor: use nixlang in examples
  modules/programs/zed-editor.nix
Labels: none

zed-editor: use mkPackageOption
  modules/programs/zed-editor.nix
Labels: none

jujutsu: support darwin guidelines for config placement
  modules/programs/jujutsu.nix
  tests/modules/programs/jujutsu/empty-config.nix
  tests/modules/programs/jujutsu/example-config.nix
Labels: none

qutebrowser: add special "__isDict" attr
  modules/programs/qutebrowser.nix
  tests/modules/programs/qutebrowser/settings.nix
Labels: none

qutebrowser: adopt the module
  modules/programs/qutebrowser.nix
Labels: none

zed-editor: change Mac to macOS in news.nix
  modules/misc/news.nix
Labels: none

zsh: add plugins.*.completions paths to fpath
  modules/programs/zsh.nix
  tests/modules/programs/zsh/default.nix
  tests/modules/programs/zsh/plugins.nix
Labels: shell

git: add option to provide difftastic package
  modules/programs/git.nix
Labels: none

process-compose: add module
  modules/lib/maintainers.nix
  modules/modules.nix
  modules/programs/process-compose.nix
Labels: none

treewide: use graphical-session.target for GUI services
  modules/programs/waybar.nix
  modules/services/blueman-applet.nix
  modules/services/network-manager-applet.nix
  modules/services/poweralertd.nix
  modules/services/swayidle.nix
  modules/services/wlsunset.nix
  tests/modules/programs/waybar/systemd-with-graphical-session-target.service
  tests/modules/services/wlsunset/wlsunset-service-expected.service
Labels: none

deploy: 471e3eb0a114265bcd62d11d58ba8d3421ee68eb
  options.xhtml
Labels: none

docs: remove unused `self` attribute from pattern
  docs/flake.nix
Labels: none

process-compose: add shortcuts test
  tests/default.nix
  tests/modules/programs/process-compose/default.nix
  tests/modules/programs/process-compose/shortcuts.nix
  tests/modules/programs/process-compose/shortcuts.yaml
Labels: none

WIP
  modules/programs/xmobar.nix
Labels: none

fish : move aliases after initializations
  modules/programs/fish.nix
Labels: none

thunderbird: remove Version = 2 from profiles
  modules/programs/thunderbird.nix
  tests/modules/programs/thunderbird/thunderbird-expected-profiles.ini
Labels: mail

thunderbird: deprecate darwinSetupWarning
  modules/programs/thunderbird.nix
Labels: mail

Something very initial
  modules/programs/xmobar.nix
Labels: none

lib/generators: toSwayConf init
  modules/lib/generators.nix
Labels: none

sway: add sinanmohd to maintainers
  modules/services/window-managers/i3-sway/sway.nix
Labels: none

sway: add settings option
  modules/services/window-managers/i3-sway/sway.nix
Labels: none

darwin: Set launchd.user.envVariables from home.sessionVariables
  nix-darwin/default.nix
Labels: none

taskwarrior-sync: add package option
  modules/services/taskwarrior-sync.nix
Labels: none

deploy: 5130249ab20229480aa732942c9c555a38fb910a
  options.xhtml
Labels: none

sway: indent sway configuration options
  modules/services/window-managers/i3-sway/sway.nix
  tests/modules/services/window-managers/sway/sway-modules.conf
Labels: none

xdg: add option 'xdg.stateFile'
  modules/misc/xdg.nix
  tests/modules/misc/xdg/file-gen.nix
Labels: none

Translate using Weblate (Hungarian)
  home-manager/po/hu.po
  modules/po/hu.po
Labels: none

deploy: b00bdf59c0aa5515a0a8e1773fa19128e7efa181
  options.xhtml
Labels: none

flake.lock: Update
  flake.lock
Labels: none

i3/sway: support str type for font size
  modules/services/window-managers/i3-sway/lib/options.nix
  tests/modules/services/window-managers/i3/i3-fonts-deprecated.nix
  tests/modules/services/window-managers/i3/i3-fonts-expected.conf
  tests/modules/services/window-managers/i3/i3-fonts.nix
Labels: none

.github/labeler.yml:

"mail":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/aerc*.nix
    - modules/programs/alot*.nix
    - tests/modules/programs/aerc/*
    - tests/modules/programs/alot/*
    - modules/programs/mujmap.nix
    - tests/modules/programs/mujmap/*
    - modules/programs/notmuch.nix
    - modules/programs/neomutt*
    - tests/modules/programs/neomutt/*
    - modules/programs/getmail*
    - modules/*/mbsync*
    - tests/modules/programs/mbsync/*
    - modules/programs/himalaya.nix
    - tests/modules/programs/himalaya/*
    - modules/programs/thunderbird.nix
    - tests/modules/programs/thunderbird/*
    - modules/services/imapnotify.nix

"neovim":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/neovim.nix
    - tests/modules/programs/neovim/**/*

"shell":
- changed-files:
  - any-glob-to-any-file:
    - modules/lib/zsh.nix
    - modules/programs/zsh*
    - modules/programs/bash*
    - tests/modules/programs/zsh/**/*

"calendar":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/khal*
    - modules/*/vdirsyncer*
    - modules/accounts/calendar.nix

"contacts":
- changed-files:
  - any-glob-to-any-file:
    - modules/accounts/contacts.nix
