Repository nix-community/home-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: mail, neovim, shell, calendar, contacts

.github/labeler.yml:

"mail":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/aerc*.nix
    - modules/programs/alot*.nix
    - tests/modules/programs/aerc/*
    - tests/modules/programs/alot/*
    - modules/programs/mujmap.nix
    - tests/modules/programs/mujmap/*
    - modules/programs/notmuch.nix
    - modules/programs/neomutt*
    - tests/modules/programs/neomutt/*
    - modules/programs/getmail*
    - modules/*/mbsync*
    - tests/modules/programs/mbsync/*
    - modules/programs/himalaya.nix
    - tests/modules/programs/himalaya/*
    - modules/programs/thunderbird.nix
    - tests/modules/programs/thunderbird/*
    - modules/services/imapnotify.nix

"neovim":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/neovim.nix
    - tests/modules/programs/neovim/**/*

"shell":
- changed-files:
  - any-glob-to-any-file:
    - modules/lib/zsh.nix
    - modules/programs/zsh*
    - modules/programs/bash*
    - tests/modules/programs/zsh/**/*

"calendar":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/khal*
    - modules/*/vdirsyncer*
    - modules/accounts/calendar.nix

"contacts":
- changed-files:
  - any-glob-to-any-file:
    - modules/accounts/contacts.nix

qt: reduce test closure
  tests/modules/misc/qt/qt-basic.nix
  tests/modules/misc/qt/qt-platform-theme-gnome.nix
  tests/modules/misc/qt/qt-platform-theme-gtk.nix
  tests/modules/misc/qt/qt-platform-theme-gtk3.nix
Labels: none

deploy: 6c3a7a0b72c19ec994b85c57a1712d177bd809b2
  options.xhtml
Labels: none

rclone: add module
  modules/modules.nix
  modules/programs/rclone.nix
  tests/integration/default.nix
  tests/integration/standalone/rclone/default.nix
  tests/integration/standalone/rclone/home.nix
  tests/integration/standalone/rclone/no-secrets.conf
  tests/integration/standalone/rclone/no-secrets.nix
  tests/integration/standalone/rclone/with-secrets-in-store.conf
  tests/integration/standalone/rclone/with-secrets-in-store.nix
Labels: none

maintainers: add jess
  modules/lib/maintainers.nix
Labels: none

xresources: use `profileExtra` instead of `initExtra`
  modules/xresources.nix
Labels: none

home-cursor: use `profileExtra` instead of `initExtra`
  modules/config/home-cursor.nix
Labels: none

etesync-dav: update default server URL
  modules/services/etesync-dav.nix
Labels: none

deploy: ad48eb25cd0b00ce730da00fa1f8e6e6c27b397d
  options.xhtml
Labels: none

nixpkgs-disabled: fix `useGlobalPkgs` assertion
  modules/misc/nixpkgs-disabled.nix
Labels: none

zsh: make autosuggest strategy accept more options
  modules/programs/zsh.nix
Labels: shell

deploy: 3a7fc9cd71a844aae9c6b6bb44700cea9539bc13
  options.xhtml
Labels: none

mangohud: fix a non-working example
  modules/programs/mangohud.nix
Labels: none

deploy: 1cd17a2f76f7711b06d5d59f1746cef602974498
  options.xhtml
Labels: none

starship: replace `eval` with `source` for fish
  modules/programs/starship.nix
  tests/modules/programs/starship/fish_without_interactive.nix
Labels: none

starship: add `enableInteractive` option for fish
  modules/misc/news.nix
  modules/programs/starship.nix
  tests/modules/programs/starship/default.nix
  tests/modules/programs/starship/fish_with_interactive.nix
  tests/modules/programs/starship/fish_without_interactive.nix
Labels: none

deploy: 0daaded612b0e6eaed0a63fc9d0778d8f05940fe
  options.xhtml
Labels: none

lib: init toRON
  modules/lib/generators.nix
  tests/lib/generators/default.nix
  tests/lib/generators/toron-result.ron
  tests/lib/generators/toron.nix
Labels: none

imapnotify: provide an option for setting PATH
  modules/services/imapnotify.nix
  tests/modules/services/imapnotify/imapnotify.service
Labels: mail

deploy: 65912bc6841cf420eb8c0a20e03df7cbbff5963f
  options.xhtml
Labels: none

syncthing: expand declarative config to Darwin
  modules/services/syncthing.nix
Labels: none

provide RUNTIME_DIRECTORY manually if not given by systemd
  modules/services/syncthing.nix
Labels: none

move curl shell function into string variable
  modules/services/syncthing.nix
Labels: none

refactor launchd.agents.syncthing
  modules/services/syncthing.nix
Labels: none

nix variable for syncthing's configuration directory
  modules/services/syncthing.nix
Labels: none

move syncthing-copy-keys to dedicated variable
  modules/services/syncthing.nix
Labels: none

formatting according to HM's format tool
  modules/services/syncthing.nix
Labels: none

kubecolor: add module
  modules/misc/news.nix
  modules/modules.nix
  modules/programs/kubecolor.nix
  tests/default.nix
  tests/modules/programs/kubecolor/default.nix
  tests/modules/programs/kubecolor/empty-config.nix
  tests/modules/programs/kubecolor/example-config-default-paths.nix
  tests/modules/programs/kubecolor/example-config-xdg-paths.nix
Labels: none

fcitx5: fix package reference in test
  tests/modules/i18n/input-method/fcitx5-configuration.nix
Labels: none

cmus: reduce test closure
  tests/modules/programs/cmus/cmus.nix
Labels: none

xresources: simplify tests
  tests/modules/xresources/empty.nix
  tests/modules/xresources/xresources.nix
Labels: none

nix: simplify tests
  tests/modules/misc/nix/empty-settings.nix
  tests/modules/misc/nix/example-channels-xdg.nix
  tests/modules/misc/nix/example-channels.nix
  tests/modules/misc/nix/example-registry.nix
  tests/modules/misc/nix/example-settings.nix
  tests/modules/misc/nix/keep-old-nix-path.nix
Labels: none

lorri: fix ReadWritePaths for new gcroots behavior
  modules/services/lorri.nix
Labels: none

thunderbird: set the correct SMTP server for aliases
  modules/programs/thunderbird.nix
  tests/modules/programs/thunderbird/thunderbird-expected-first.js
Labels: mail

lorri: fix ReadWritePaths for new gcroots behavior
  modules/services/lorri.nix
Labels: none

fcitx5: fix package reference in test
  tests/modules/i18n/input-method/fcitx5-configuration.nix
Labels: none

xresources: simplify tests
  tests/modules/xresources/empty.nix
  tests/modules/xresources/xresources.nix
Labels: none

nix: simplify tests
  tests/modules/misc/nix/empty-settings.nix
  tests/modules/misc/nix/example-channels-xdg.nix
  tests/modules/misc/nix/example-channels.nix
  tests/modules/misc/nix/example-registry.nix
  tests/modules/misc/nix/example-settings.nix
  tests/modules/misc/nix/keep-old-nix-path.nix
Labels: none

cmus: reduce test closure
  tests/modules/programs/cmus/cmus.nix
Labels: none

emacs: add proFileDirectory to daemon PATH
  modules/services/emacs.nix
  tests/modules/services/emacs-darwin/expected-agent.plist
Labels: none

wayfire: add module
  modules/misc/news.nix
  modules/modules.nix
  modules/services/window-managers/wayfire.nix
  tests/default.nix
  tests/modules/services/window-managers/wayfire/configuration.ini
  tests/modules/services/window-managers/wayfire/configuration.nix
  tests/modules/services/window-managers/wayfire/default.nix
  tests/modules/services/window-managers/wayfire/wf-shell.ini
  tests/modules/services/window-managers/wayfire/wf-shell.nix
Labels: none
