Repository nix-community/home-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: mail, neovim, shell, calendar, contacts

.github/labeler.yml:

"mail":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/aerc*.nix
    - modules/programs/alot*.nix
    - tests/modules/programs/aerc/*
    - tests/modules/programs/alot/*
    - modules/programs/mujmap.nix
    - tests/modules/programs/mujmap/*
    - modules/programs/notmuch.nix
    - modules/programs/neomutt*
    - tests/modules/programs/neomutt/*
    - modules/programs/getmail*
    - modules/*/mbsync*
    - tests/modules/programs/mbsync/*
    - modules/programs/himalaya.nix
    - tests/modules/programs/himalaya/*
    - modules/programs/thunderbird.nix
    - tests/modules/programs/thunderbird/*
    - modules/services/imapnotify.nix

"neovim":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/neovim.nix
    - tests/modules/programs/neovim/**/*

"shell":
- changed-files:
  - any-glob-to-any-file:
    - modules/lib/zsh.nix
    - modules/programs/zsh*
    - modules/programs/bash*
    - tests/modules/programs/zsh/**/*

"calendar":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/khal*
    - modules/*/vdirsyncer*
    - modules/accounts/calendar.nix

"contacts":
- changed-files:
  - any-glob-to-any-file:
    - modules/accounts/contacts.nix

keepassxc: add module
  modules/modules.nix
  modules/programs/keepassxc.nix
  tests/default.nix
  tests/modules/programs/keepassxc/default-settings.nix
  tests/modules/programs/keepassxc/default.nix
  tests/modules/programs/keepassxc/example-settings.nix
  tests/modules/programs/keepassxc/keepassxc-example-config.ini
Labels: none

hypridle: add `systemdTarget` option
  modules/services/hypridle.nix
  tests/modules/services/hypridle/basic-configuration.nix
  tests/modules/services/hypridle/systemd-with-graphical-session-target.service
Labels: none

zsh: improve dotDir handling
  modules/programs/zsh.nix
  tests/modules/programs/zsh/default.nix
  tests/modules/programs/zsh/dotdir-absolute.nix
  tests/modules/programs/zsh/dotdir-relative.nix
Labels: shell

nixos: always run home-manager on NixOS activation
  nixos/default.nix
Labels: none

nixos: add `key` to shared module to allow disabling it
  nixos/default.nix
Labels: none

nixos: always run home-manager on NixOS activation (#5780)
  nixos/default.nix
Labels: none

nixos: add `key` to shared module to allow disabling it (#6017)
  nixos/default.nix
Labels: none

aerc: add support of account gpg config (#5298)
  modules/programs/aerc-accounts.nix
Labels: mail

{gtk, dunst}: replace `pkgs.gnome.adwaita-icon-theme` with `pkgs.adwaita-icon-theme` in the examples
  modules/misc/gtk.nix
  modules/services/dunst.nix
Labels: none

version: allow 25.05 as state version
  modules/misc/version.nix
Labels: none

{gtk, dunst}: replace `pkgs.gnome.adwaita-icon-theme` with `pkgs.adwaita-icon-theme` in the examples (#5712)
  modules/misc/gtk.nix
  modules/services/dunst.nix
Labels: none

deploy: c7c251761235282acfc681accf8d3deea6681cc0
  options.xhtml
Labels: none

nix: make sure extra- settings are applied last
  modules/misc/nix.nix
  tests/modules/misc/nix/example-settings-expected.conf
Labels: none

hyprland: add xdg.portal configuration
  modules/services/window-managers/hyprland.nix
Labels: none

git-maintenance: More details in the documentation
  modules/programs/git.nix
Labels: none

lib/file-type: Make `force` option visible (#6003)
  modules/lib/file-type.nix
Labels: none

deploy: 1bd5616e33c0c54d7a5b37db94160635a9b27aeb
  options.xhtml
Labels: none

zed-editor: Add extraPackages option
  modules/programs/zed-editor.nix
Labels: none

swaylock: allow setting `package = null`
  modules/programs/swaylock.nix
Labels: none

version: allow 25.05 as state version
  modules/misc/version.nix
Labels: none

deploy: 5056a1cf0ce7c2a08ab50713b6c4af77975f6111
  options.xhtml
Labels: none

firefox: improve search engine disclaimer generation
  modules/programs/firefox/mkFirefoxModule.nix
  modules/programs/firefox/profiles/search.nix
  modules/programs/thunderbird.nix
Labels: mail

ci: make dependabot consider release-24.11
  .github/dependabot.yml
Labels: none

home-manager: prepare 25.05-pre
  docs/manual/manual.md
  docs/release-notes/release-notes.md
  docs/release-notes/rl-2505.md
  home-manager/home-manager
  release.json
Labels: none

deploy: 05d3b6215afa733fed6f025a59a562f98330acc3
  index.xhtml
  release-notes.xhtml
Labels: none

zsh-abbr: update source path (#6084)
  modules/programs/zsh/zsh-abbr.nix
Labels: none

waybar: allow setting layer to overlay
  modules/programs/waybar.nix
Labels: none

ludusavi: add @keenanweaver suggestions
  modules/services/ludusavi.nix
Labels: none

launchd: wrap agents in .app bundles
  modules/launchd/default.nix
  modules/launchd/main.swift
  modules/launchd/wrapperApp.nix
Labels: none

launchd: gate app bundles behind option
  modules/launchd/default.nix
Labels: none

launchd: remove staging-next-pkgs
  modules/launchd/wrapperApp.nix
Labels: none

zellij: Add extraConfig
  modules/programs/zellij.nix
  tests/modules/programs/zellij/config.nix
  tests/modules/programs/zellij/default.nix
Labels: none

librewolf: hide bookmarks option
  modules/programs/firefox/mkFirefoxModule.nix
  modules/programs/librewolf.nix
Labels: none

librewolf: use mkFirefoxModule
  modules/programs/librewolf.nix
Labels: none

Translate using Weblate (Italian)
  home-manager/po/it.po
Labels: none

Translate using Weblate (Ukrainian)
  home-manager/po/uk.po
Labels: none

deploy: 0bd5e9c76c9f2f486f4bec0524e16026547df414
  options.xhtml
Labels: none

syncthing: expand declarative configuration
  modules/services/syncthing.nix
  tests/modules/services/syncthing/common/extra-options.nix
Labels: none

deploy: a42fa14b53ceab66274a21da480c9f8e06204173
  options.xhtml
Labels: none

flake.lock: Update
  flake.lock
Labels: none
