Repository nix-community/home-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: mail, neovim, shell, calendar, contacts

programs.wlr-which-key: init
  modules/misc/news.nix
  modules/modules.nix
  modules/programs/wlr-which-key.nix
  tests/default.nix
  tests/modules/programs/wlr-which-key/default.nix
  tests/modules/programs/wlr-which-key/expected-config.yaml
  tests/modules/programs/wlr-which-key/expected-other.yaml
  tests/modules/programs/wlr-which-key/wlr-which-key.nix
Labels: none

thunderbird: support setting search engines
  modules/programs/thunderbird.nix
Labels: mail

firefox: split search into separate submodule file
  modules/programs/firefox.nix
  modules/programs/firefox/mkFirefoxModule.nix
  modules/programs/firefox/profiles/search.nix
Labels: none

firefox: organize tests by submodule
  tests/modules/programs/firefox/firefox.nix
  tests/modules/programs/firefox/profile-settings-expected-containers.json
  tests/modules/programs/firefox/profile-settings.nix
  tests/modules/programs/firefox/profiles/bookmarks/default.nix
  tests/modules/programs/firefox/profiles/bookmarks/expected-bookmarks-user.js
  tests/modules/programs/firefox/profiles/bookmarks/expected-bookmarks.html
  tests/modules/programs/firefox/profiles/containers/default.nix
  tests/modules/programs/firefox/profiles/containers/duplicate-ids.nix
  tests/modules/programs/firefox/profiles/containers/expected-containers.json
  tests/modules/programs/firefox/profiles/containers/id-out-of-range.nix
  tests/modules/programs/firefox/profiles/duplicate-ids.nix
  tests/modules/programs/firefox/profiles/search/default.nix
  tests/modules/programs/firefox/profiles/search/expected-search-without-default.json
  tests/modules/programs/firefox/profiles/search/expected-search.json
  tests/modules/programs/firefox/profiles/settings/default.nix
  tests/modules/programs/firefox/profiles/settings/expected-user.js
Labels: none

Translate using Weblate (Vietnamese)
  home-manager/po/vi.po
  modules/po/vi.po
Labels: none

home-manager: support username with special chars
  home-manager/home-manager
Labels: none

direnv: enable nix-direnv by default
  modules/programs/direnv.nix
Labels: none

provide a more helpful zellij example
  modules/programs/zellij.nix
Labels: none

respect zellij requirement for a semicolon after a node value
  modules/lib/generators.nix
Labels: none

hyprland: add xdg.portal configuration
  modules/services/window-managers/hyprland.nix
Labels: none

home-cursor: add hyprcursor support
  modules/config/home-cursor.nix
Labels: none

ludusavi: use XDG_STATE_DIR in default settings
  modules/services/ludusavi.nix
Labels: none

firefox: Support paths for userChrome & userContent
  modules/programs/firefox/mkFirefoxModule.nix
Labels: none

zsh: add option: history.append
  modules/programs/zsh.nix
Labels: shell

fastfetch: update example for JsonConfig settings
  modules/programs/fastfetch.nix
Labels: none

maintainers: updated username to midirhee12
  modules/lib/maintainers.nix
  modules/services/network-manager-applet.nix
Labels: none

dunst: use `-config` flag when `configFile` is set
  modules/services/dunst.nix
Labels: none

deploy: a6c743980e23f4cef6c2a377f9ffab506568413a
  options.xhtml
Labels: none

fastfetch: update example for JsonConfig settings
  modules/programs/fastfetch.nix
Labels: none

deploy: b3d5ea65d88d67d4ec578ed11d4d2d51e3de525e
  options.xhtml
Labels: none

programs.nix-your-shell: add module
  modules/modules.nix
  modules/programs/nix-your-shell.nix
  tests/default.nix
  tests/modules/programs/nix-your-shell/default.nix
  tests/modules/programs/nix-your-shell/enable-shells.nix
Labels: none

syncthing: expand declarative config
  modules/services/syncthing.nix
  tests/modules/services/syncthing/common/extra-options.nix
Labels: none

fish: install plugin files
  modules/programs/fish.nix
Labels: none

fish: update plugins test
  tests/modules/programs/fish/plugins.nix
Labels: none

Translate using Weblate (Catalan)
  home-manager/po/ca.po
Labels: none

firefox: Enable userChrome in about:config
  modules/programs/firefox/mkFirefoxModule.nix
  tests/modules/programs/firefox/profile-settings-expected-containers.json
  tests/modules/programs/firefox/profile-settings.nix
Labels: none

firefox: Fix profile-settings tests
  modules/programs/firefox/mkFirefoxModule.nix
  tests/modules/programs/firefox/profile-settings.nix
Labels: none

podman: add new module 'podman'
  modules/lib/maintainers.nix
  modules/modules.nix
  modules/services/podman-linux/containers.nix
  modules/services/podman-linux/default.nix
  modules/services/podman-linux/install-quadlet.nix
  modules/services/podman-linux/networks.nix
  modules/services/podman-linux/options.nix
  modules/services/podman-linux/podman-lib.nix
  modules/services/podman-linux/services.nix
Labels: none

firefox: fix launching on darwin
  modules/programs/firefox/mkFirefoxModule.nix
Labels: none

volnoti: add self to maintainers
  modules/services/volnoti.nix
Labels: none

volnoti: use cfg.package instead of pkgs
  modules/services/volnoti.nix
Labels: none

volnoti: add test case
  tests/default.nix
  tests/modules/services/volnoti/default.nix
  tests/modules/services/volnoti/package-option.nix
Labels: none

zsh: add option: history.append
  modules/programs/zsh.nix
Labels: shell

test(generators/toKDL): added case for _args
  tests/lib/generators/tokdl-attrs.txt
  tests/lib/generators/tokdl-list.txt
  tests/lib/generators/tokdl.nix
Labels: none

generators.toKDL: support repeated nodes, break JiK compat
  modules/lib/generators.nix
  tests/lib/generators/tokdl-result.txt
  tests/lib/generators/tokdl.nix
Labels: none

Translate using Weblate (Catalan)
  home-manager/po/ca.po
Labels: none

flake.lock: Update
  flake.lock
Labels: none

lazydocker: add module
  modules/modules.nix
  modules/programs/lazydocker.nix
  tests/default.nix
  tests/modules/programs/lazydocker/custom-settings.nix
  tests/modules/programs/lazydocker/custom-settings.yml
  tests/modules/programs/lazydocker/default-settings.nix
  tests/modules/programs/lazydocker/default.nix
  tests/modules/programs/lazydocker/default.yml
Labels: none

imapnotify: provide an option for setting PATH
  modules/services/imapnotify.nix
Labels: mail

kanshi: do not quote criteria and fix testcases
  modules/services/kanshi.nix
  tests/modules/services/kanshi/basic-configuration.conf
  tests/modules/services/kanshi/basic-configuration.nix
  tests/modules/services/kanshi/new-configuration.conf
  tests/modules/services/kanshi/new-configuration.nix
Labels: none

.github/labeler.yml:

"mail":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/aerc*.nix
    - modules/programs/alot*.nix
    - tests/modules/programs/aerc/*
    - tests/modules/programs/alot/*
    - modules/programs/mujmap.nix
    - tests/modules/programs/mujmap/*
    - modules/programs/notmuch.nix
    - modules/programs/neomutt*
    - tests/modules/programs/neomutt/*
    - modules/programs/getmail*
    - modules/*/mbsync*
    - tests/modules/programs/mbsync/*
    - modules/programs/himalaya.nix
    - tests/modules/programs/himalaya/*
    - modules/programs/thunderbird.nix
    - tests/modules/programs/thunderbird/*
    - modules/services/imapnotify.nix

"neovim":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/neovim.nix
    - tests/modules/programs/neovim/**/*

"shell":
- changed-files:
  - any-glob-to-any-file:
    - modules/lib/zsh.nix
    - modules/programs/zsh*
    - modules/programs/bash*
    - tests/modules/programs/zsh/**/*

"calendar":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/khal*
    - modules/*/vdirsyncer*
    - modules/accounts/calendar.nix

"contacts":
- changed-files:
  - any-glob-to-any-file:
    - modules/accounts/contacts.nix
