Repository nix-community/home-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: mail, neovim, shell, calendar, contacts

.github/labeler.yml:

"mail":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/aerc*.nix
    - modules/programs/alot*.nix
    - tests/modules/programs/aerc/*
    - tests/modules/programs/alot/*
    - modules/programs/mujmap.nix
    - tests/modules/programs/mujmap/*
    - modules/programs/notmuch.nix
    - modules/programs/neomutt*
    - tests/modules/programs/neomutt/*
    - modules/programs/getmail*
    - modules/*/mbsync*
    - tests/modules/programs/mbsync/*
    - modules/programs/himalaya.nix
    - tests/modules/programs/himalaya/*
    - modules/programs/thunderbird.nix
    - tests/modules/programs/thunderbird/*
    - modules/services/imapnotify.nix

"neovim":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/neovim.nix
    - tests/modules/programs/neovim/**/*

"shell":
- changed-files:
  - any-glob-to-any-file:
    - modules/lib/zsh.nix
    - modules/programs/zsh*
    - modules/programs/bash*
    - tests/modules/programs/zsh/**/*

"calendar":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/khal*
    - modules/*/vdirsyncer*
    - modules/accounts/calendar.nix

"contacts":
- changed-files:
  - any-glob-to-any-file:
    - modules/accounts/contacts.nix

imapnotify: include PATH in test
  tests/modules/services/imapnotify/imapnotify.service
Labels: none

git: add config option for gpg.format
  modules/programs/git.nix
  tests/modules/programs/git/git-expected.conf
  tests/modules/programs/git/git.nix
Labels: none

git: add option to use riff as diff tool
  modules/programs/git.nix
Labels: none

hyprland: make package nullable
  modules/services/window-managers/hyprland.nix
Labels: none

bash: add package option
  modules/programs/bash.nix
Labels: shell

bash: add package option
  modules/programs/bash.nix
Labels: shell

deploy: 2598861031b78aadb4da7269df7ca9ddfc3e1671
  options.xhtml
Labels: none

Version Bump from 4 -> 5
  modules/programs/firefox/mkFirefoxModule.nix
Labels: none

Changed the Test for containers.json
  tests/modules/programs/firefox/profile-settings-expected-containers.json
Labels: none

nix-your-shell: flatten-out `genAttrs` use
  modules/programs/nix-your-shell.nix
Labels: none

nix-your-shell: support arbitrary CLI arguments
  modules/programs/nix-your-shell.nix
Labels: none

nix-your-shell: support `nix-output-monitor`
  modules/programs/nix-your-shell.nix
Labels: none

home-manager: remove unused `let` bindings
  home-manager/build-news.nix
  home-manager/home-manager.nix
Labels: none

home-manager: remove unused `newsReadIdsFile` parameter
  home-manager/home-manager.nix
Labels: none

tests: remove dead code
  tests/modules/programs/borgmatic/patterns-configuration.nix
Labels: none

treewide: remove dead code & `let`-bindings
  modules/lib/dag.nix
  modules/lib/types-dag.nix
  modules/lib/types.nix
  modules/misc/xdg-mime.nix
  modules/programs/lieer.nix
  modules/programs/mbsync.nix
  modules/programs/neovim.nix
  modules/programs/pyenv.nix
  modules/programs/qcal.nix
  modules/programs/vdirsyncer.nix
  modules/programs/wlogout.nix
  modules/services/picom.nix
  modules/targets/darwin/user-defaults/opts-currenthost.nix
Labels: mail, neovim, calendar

treewide: remove unused attributes in patterns
  modules/accounts/calendar.nix
  modules/accounts/contacts.nix
  modules/accounts/email.nix
  modules/lib/booleans.nix
  modules/misc/debug.nix
  modules/misc/gtk.nix
  modules/misc/pam.nix
  modules/misc/uninstall.nix
  modules/programs/firefox/mkFirefoxModule.nix
  modules/programs/fish.nix
  modules/programs/getmail-accounts.nix
  modules/programs/gnome-terminal.nix
  modules/programs/jetbrains-remote.nix
  modules/programs/khal-accounts.nix
  modules/programs/khal-calendar-accounts.nix
  modules/programs/khal-contact-accounts.nix
  modules/programs/mbsync-accounts.nix
  modules/programs/msmtp-accounts.nix
  modules/programs/ncmpcpp.nix
  modules/programs/notmuch-virtual-mailbox.nix
  modules/programs/papis.nix
  modules/programs/readline.nix
  modules/programs/sftpman.nix
  modules/programs/ssh.nix
  modules/programs/thunderbird.nix
  modules/programs/zplug.nix
  modules/services/twmn.nix
  modules/targets/darwin/user-defaults/opts-currenthost.nix
Labels: mail, calendar, contacts

tests/systemd-empty-user-config: Handle default settings
  tests/modules/systemd/empty-user-config.nix
Labels: none

tests/systemd-user-config: Handle default settings
  tests/modules/systemd/user-config.nix
Labels: none

systemd: Include `home.sessionVariables` in default env
  modules/systemd.nix
Labels: none

news: add entry for systemd `DefaultEnvironment`
  modules/misc/news.nix
Labels: none

kakoune: add colorSchemePackage option
  modules/programs/kakoune.nix
Labels: none

asdf-vm: add module
  modules/modules.nix
  modules/programs/asdf-vm.nix
  tests/default.nix
  tests/modules/programs/asdf-vm/default.nix
  tests/modules/programs/asdf-vm/integration-disabled.nix
  tests/modules/programs/asdf-vm/integration-enabled.nix
Labels: none

mangohud: fix a non-working example
  modules/programs/mangohud.nix
Labels: none

programs.texlive: extend documentation of options
  modules/programs/texlive.nix
Labels: none

programs.texlive: further increase docs (TODO squash)
  modules/programs/texlive.nix
Labels: none

zsh: add option: history.append
  modules/programs/zsh.nix
Labels: shell

deploy: 40ddec2f8a71d9fb92735f0553dc81a8825596c4
  options.xhtml
Labels: none

tests: fix escaping of wait command
  tests/integration/nixos/basics.nix
  tests/integration/standalone/flake-basics.nix
  tests/integration/standalone/standard-basics.nix
Labels: none

systemd: fully deprecate legacy switcher
  modules/systemd.nix
Labels: none

deploy: b18f3ebc4029c22d437e3424014c8597a8b459a0
  options.xhtml
Labels: none

Translate using Weblate (Hungarian)
  modules/po/hu.po
Labels: none

submodule-support: add default values for top-level configs
  modules/misc/submodule-support.nix
Labels: none

xonsh:init
  modules/modules.nix
  modules/programs/xonsh.nix
Labels: none

carapace: add xonsh integration
  modules/programs/carapace.nix
Labels: none

direnv: add xonsh support
  modules/programs/direnv.nix
Labels: none

zoxide: add xonsh integratiion
  modules/programs/zoxide.nix
Labels: none

thefuck: add xonsh integration
  modules/programs/thefuck.nix
Labels: none

eza: add xonsh integration
  modules/programs/eza.nix
Labels: none

atuin: add xonsh integration
  modules/programs/atuin.nix
Labels: none
