Repository nix-community/home-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: mail, neovim, shell, calendar, contacts

.github/labeler.yml:

"mail":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/aerc*.nix
    - modules/programs/alot*.nix
    - tests/modules/programs/aerc/*
    - tests/modules/programs/alot/*
    - modules/programs/mujmap.nix
    - tests/modules/programs/mujmap/*
    - modules/programs/notmuch.nix
    - modules/programs/neomutt*
    - tests/modules/programs/neomutt/*
    - modules/programs/getmail*
    - modules/*/mbsync*
    - tests/modules/programs/mbsync/*
    - modules/programs/himalaya.nix
    - tests/modules/programs/himalaya/*
    - modules/programs/thunderbird.nix
    - tests/modules/programs/thunderbird/*
    - modules/services/imapnotify.nix

"neovim":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/neovim.nix
    - tests/modules/programs/neovim/**/*

"shell":
- changed-files:
  - any-glob-to-any-file:
    - modules/lib/zsh.nix
    - modules/programs/zsh*
    - modules/programs/bash*
    - tests/modules/programs/zsh/**/*

"calendar":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/khal*
    - modules/*/vdirsyncer*
    - modules/accounts/calendar.nix

"contacts":
- changed-files:
  - any-glob-to-any-file:
    - modules/accounts/contacts.nix

git: add default value null to programs.git.signing.key
  modules/programs/git.nix
Labels: none

streamlink: add module
  modules/lib/maintainers.nix
  modules/modules.nix
  modules/programs/streamlink.nix
  tests/default.nix
  tests/modules/programs/streamlink/config
  tests/modules/programs/streamlink/default.nix
  tests/modules/programs/streamlink/dummy.py
  tests/modules/programs/streamlink/streamlink-custom-plugins.nix
  tests/modules/programs/streamlink/streamlink-settings.nix
Labels: none

thunderbird: Implement `extensions` for profiles
  modules/programs/thunderbird.nix
Labels: mail

git: fix maintenance service
  modules/programs/git.nix
Labels: none

flake.lock: Update
  flake.lock
Labels: none

maintainers: Add a new maintainer
  modules/lib/maintainers.nix
  modules/programs/zellij.nix
Labels: none

zellij: Add additional options for integrating with shells
  modules/programs/zellij.nix
Labels: none

zellij: Add tests for additional options for shell integration
  tests/modules/programs/zellij/enable-shells.nix
Labels: none

nixgl: clarify purpose of modified override
  modules/misc/nixgl.nix
Labels: none

hypridle: configurable systemd target
  modules/services/hypridle.nix
  tests/modules/services/hypridle/basic-configuration.nix
Labels: none

prismlauncher: add module
  modules/modules.nix
  modules/programs/prismlauncher.nix
  tests/default.nix
  tests/modules/programs/prismlauncher/basic-configuration.cfg
  tests/modules/programs/prismlauncher/basic-configuration.nix
  tests/modules/programs/prismlauncher/default.nix
Labels: none

docs: home.sessionVariable clarification
  modules/home-environment.nix
Labels: none

deploy: 2f607e07f3ac7e53541120536708e824acccfaa8
  options.xhtml
Labels: none

ssh: Allow forwardAgent to be set to null
  modules/programs/ssh.nix
  tests/modules/programs/ssh/default.nix
  tests/modules/programs/ssh/forwardAgent-null-config.nix
  tests/modules/programs/ssh/forwardAgent-null-expected.conf
Labels: none

docs: update copyright year
  LICENSE
Labels: none

alacritty: add `theme` option
  modules/programs/alacritty.nix
Labels: none

alacritty: more-helpful (and trivial-to-eval) description of the `theme` option
  modules/programs/alacritty.nix
Labels: none

fixup! alacritty: add `theme` option
  modules/programs/alacritty.nix
Labels: none

helix: prioritize environment packages
  modules/programs/helix.nix
Labels: none

specialisation: add default specialisation option
  modules/misc/specialisation.nix
Labels: none

specialisation: add extra assertion
  tests/modules/misc/specialisation/specialisation.nix
Labels: none

default-specialisation: add test for default specialisation
  modules/misc/specialisation.nix
  tests/modules/misc/specialisation/default-specialisation.nix
  tests/modules/misc/specialisation/default.nix
Labels: none

zsh: fix completion when zplug is enabled
  modules/programs/zsh.nix
Labels: shell

news: fix typo
  modules/misc/news.nix
Labels: none

news: fix typo
  modules/misc/news.nix
Labels: none

helix: fix wrapping of extraPackages
  modules/programs/helix.nix
Labels: none

kanshi: add package to home.packages
  modules/services/kanshi.nix
Labels: none

espanso, spotify-player, alacritty: fix failing tests
  tests/modules/programs/alacritty/settings-toml-expected.toml
  tests/modules/programs/spotify-player/theme.toml
  tests/modules/services/espanso/basic-matches.yaml
Labels: none

flake.lock: Update
  flake.lock
Labels: none

alacritty: fix test for nixpkgs update
  tests/modules/programs/alacritty/settings-toml-expected.toml
Labels: none

spotify-player: fix test for nixpkgs update
  tests/modules/programs/spotify-player/theme.toml
Labels: none

espanso: fix test for nixpkgs update
  tests/modules/services/espanso/basic-matches.yaml
Labels: none

git-sync: fix crash when whitespace in path
  modules/services/git-sync.nix
  tests/modules/services/git-sync/default.nix
  tests/modules/services/git-sync/whitespace.nix
Labels: none

git-sync: add example to repository option
  modules/services/git-sync.nix
Labels: none

deploy: 3c044aefe610ceeec9cf3e83e55fa62715df27e2
  options.xhtml
Labels: none

kanshi: add package to home.packages
  modules/services/kanshi.nix
Labels: none

feh: add themes option
  modules/programs/feh.nix
  tests/modules/programs/feh/default.nix
  tests/modules/programs/feh/feh-empty-settings.nix
  tests/modules/programs/feh/feh-themes-expected
  tests/modules/programs/feh/feh-themes.nix
Labels: none

feh: add themes option (#6074)
  modules/programs/feh.nix
  tests/modules/programs/feh/default.nix
  tests/modules/programs/feh/feh-empty-settings.nix
  tests/modules/programs/feh/feh-themes-expected
  tests/modules/programs/feh/feh-themes.nix
Labels: none

deploy: 1d0862ee2d7c6f6cd720d6f32213fa425004be10
  options.xhtml
Labels: none

zsh-abbr: update source path
  modules/programs/zsh/zsh-abbr.nix
Labels: none
