Repository nix-community/home-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: mail, neovim, shell, calendar, contacts

thunderbird: change settings type to json
  modules/programs/thunderbird.nix
  tests/modules/programs/thunderbird/thunderbird-expected-second.js
  tests/modules/programs/thunderbird/thunderbird.nix
Labels: mail

deploy: 4974dfb26e1c84d22bfdf943d41a33c9e51209a8
  options.xhtml
Labels: none

ci: remove 23.11 from dependabot
  .github/dependabot.yml
Labels: none

gpg-agent: prevent nushell crashing on non-interactive sessions
  modules/services/gpg-agent.nix
Labels: none

firefox: fix policies availability
  modules/programs/firefox/mkFirefoxModule.nix
Labels: none

flake.lock: Update
  flake.lock
Labels: none

flameshot: use list of strings on systemd Service.Environment
  modules/services/flameshot.nix
Labels: none

xembed-sni-proxy: use list of strings on systemd Service.Environment
  modules/services/xembed-sni-proxy.nix
Labels: none

grobi: use list of strings on systemd Service.Environment
  modules/services/grobi.nix
Labels: none

hound: use list of strings on systemd Service.Environment
  modules/services/hound.nix
Labels: none

kbfs: use list of strings on systemd Service.Environment
  modules/services/kbfs.nix
Labels: none

kdeconnect: use list of strings on systemd Service.Environment
  modules/services/kdeconnect.nix
Labels: none

mpd: use list of strings on systemd Service.Environment
  modules/services/mpd.nix
Labels: none

nextcloud-client: use list of strings on systemd Service.Environment
  modules/services/nextcloud-client.nix
Labels: none

opensnitch-ui: use list of strings on systemd Service.Environment
  modules/services/opensnitch-ui.nix
Labels: none

opensnitch-client: use list of strings on systemd Service.Environment
  modules/services/owncloud-client.nix
Labels: none

polybar: use list of strings on systemd Service.Environment
  modules/services/polybar.nix
Labels: none

rsibreak: use list of strings on systemd Service.Environment
  modules/services/rsibreak.nix
Labels: none

xscreensaver: use list of strings on systemd Service.Environment
  modules/services/xscreensaver.nix
Labels: none

xsettings: use list of strings on systemd Service.Environment
  modules/services/xsettingsd.nix
Labels: none

xscreensaver: fix type of systemd Service.Environment
  modules/services/xscreensaver.nix
Labels: none

flameshot: fix type of systemd Service.Environment
  modules/services/flameshot.nix
Labels: none

xembed-sni-proxy: fix type of systemd Service.Environment
  modules/services/xembed-sni-proxy.nix
Labels: none

kdeconnect: fix type of systemd Service.Environment
  modules/services/kdeconnect.nix
Labels: none

mpd: fix type of systemd Service.Environment
  modules/services/mpd.nix
Labels: none

rsibreak: fix type of systemd Service.Environment
  modules/services/rsibreak.nix
Labels: none

xsettings: fix type of systemd Service.Environment
  modules/services/xsettingsd.nix
Labels: none

kbfs: fix type of systemd Service.Environment
  modules/services/kbfs.nix
Labels: none

hound: fix type of systemd Service.Environment
  modules/services/hound.nix
Labels: none

grobi: fix type of systemd Service.Environment
  modules/services/grobi.nix
Labels: none

nextcloud-client: fix type of systemd Service.Environment
  modules/services/nextcloud-client.nix
Labels: none

opensnitch-ui: fix type of systemd Service.Environment
  modules/services/opensnitch-ui.nix
Labels: none

opensnitch-client: fix type of systemd Service.Environment
  modules/services/owncloud-client.nix
Labels: none

polybar: fix type of systemd Service.Environment
  modules/services/polybar.nix
Labels: none

firefox: fix policies availability
  modules/programs/firefox/mkFirefoxModule.nix
Labels: none

zoxide: replace outdated flag in "options" example
  modules/programs/zoxide.nix
Labels: none

deploy: 1f7b8188a9c9c5ba32f9a8351c55f42ecc22b77c
  options.xhtml
Labels: none

firefox: only add Version = 2 on non-darwin
  modules/programs/firefox/mkFirefoxModule.nix
Labels: none

neovim: use `home.shellAliases` for the `vimdiffAlias` option
  modules/programs/neovim.nix
Labels: neovim

firefox: only add version when provided
  modules/programs/firefox/mkFirefoxModule.nix
Labels: none

.github/labeler.yml:

"mail":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/aerc*.nix
    - modules/programs/alot*.nix
    - tests/modules/programs/aerc/*
    - tests/modules/programs/alot/*
    - modules/programs/mujmap.nix
    - tests/modules/programs/mujmap/*
    - modules/programs/notmuch.nix
    - modules/programs/neomutt*
    - tests/modules/programs/neomutt/*
    - modules/programs/getmail*
    - modules/*/mbsync*
    - tests/modules/programs/mbsync/*
    - modules/programs/himalaya.nix
    - tests/modules/programs/himalaya/*
    - modules/programs/thunderbird.nix
    - tests/modules/programs/thunderbird/*
    - modules/services/imapnotify.nix

"neovim":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/neovim.nix
    - tests/modules/programs/neovim/**/*

"shell":
- changed-files:
  - any-glob-to-any-file:
    - modules/lib/zsh.nix
    - modules/programs/zsh*
    - modules/programs/bash*
    - tests/modules/programs/zsh/**/*

"calendar":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/khal*
    - modules/*/vdirsyncer*
    - modules/accounts/calendar.nix

"contacts":
- changed-files:
  - any-glob-to-any-file:
    - modules/accounts/contacts.nix
