Repository nix-community/home-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: mail, neovim, shell, calendar, contacts

eww: fix nullOr type
  modules/programs/eww.nix
Labels: none

eww: fix configScss and configYuck home files
  modules/programs/eww.nix
Labels: none

eww: fix xdg.configfile
  modules/programs/eww.nix
Labels: none

eww: fix service tests
  modules/programs/eww.nix
  tests/modules/programs/eww/basic-configuration.service
Labels: none

hypridle: configurable systemd target
  modules/services/hypridle.nix
  tests/modules/services/hypridle/basic-configuration.nix
  tests/modules/services/hypridle/hypridle.service
Labels: none

dropbox: use dropbox package
  modules/services/dropbox.nix
  tests/modules/services/dropbox/basic-configuration.nix
Labels: none

flake.lock: Update
  flake.lock
Labels: none

nixgl: add support for channel-based configuration
  docs/manual/usage/gpu-non-nixos.md
  modules/misc/nixgl.nix
Labels: none

nixgl: API rework for flexibility and dual-GPU
  docs/manual/usage.md
  docs/manual/usage/gpu-non-nixos.md
  modules/misc/nixgl.nix
Labels: none

espanso: fix test
  tests/modules/services/espanso/basic-configuration.nix
Labels: none

espanso: add crossplatform support
  modules/services/espanso.nix
Labels: none

espanso: add wayland test
  tests/modules/services/espanso/basic-configuration.nix
  tests/modules/services/espanso/default.nix
Labels: none

syncthing: expand declarative config
  modules/services/syncthing.nix
  tests/modules/services/syncthing/common/extra-options.nix
Labels: none

mbsync: project changed option name
  modules/programs/mbsync.nix
  tests/modules/programs/mbsync/mbsync-expected.conf
Labels: mail

modules/neovim: fix config generation (#5976)
  modules/programs/neovim.nix
Labels: neovim

waylogout: added configuration module
  modules/lib/maintainers.nix
  modules/modules.nix
  modules/programs/waylogout.nix
Labels: none

hypridle: configurable systemd target
  modules/services/hypridle.nix
  tests/modules/services/hypridle/basic-configuration.nix
  tests/modules/services/hypridle/hypridle.service
Labels: none

launchd: wrap agents in .app bundles
  modules/launchd/default.nix
  modules/launchd/main.swift
  modules/launchd/wrapperApp.nix
Labels: none

granted:.assume-wrapped no longer present
  modules/programs/granted.nix
  tests/modules/programs/granted/integration-disabled.nix
  tests/modules/programs/granted/integration-enabled.nix
Labels: none

Clean hyprland close on logout
  modules/services/window-managers/hyprland.nix
Labels: none

accounts/calendar: fix defaultText rendering
  modules/accounts/calendar.nix
Labels: calendar

accounts/contacts: fix defaultText rendering
  modules/accounts/contacts.nix
Labels: contacts

deploy: a4353cc43d1b4dd6bdeacea90eb92a8b7b78a9d7
  options.xhtml
Labels: none

swaync: allow systemd target to be changed
  modules/services/swaync.nix
  tests/modules/services/swaync/swaync.nix
Labels: none

gpg-agent: use $TTY parameter in zsh intergration
  modules/services/gpg-agent.nix
Labels: none

maintainers: remove omernaveedxyz
  modules/lib/maintainers.nix
  modules/programs/bemenu.nix
Labels: none

granted: use assume directly
  modules/programs/granted.nix
  tests/modules/programs/granted/integration-disabled.nix
  tests/modules/programs/granted/integration-enabled.nix
Labels: none

gpg-agent: use $TTY parameter in zsh integration
  modules/services/gpg-agent.nix
Labels: none

spotify-player: add support for actions
  modules/programs/spotify-player.nix
  tests/modules/programs/spotify-player/keymap.toml
  tests/modules/programs/spotify-player/settings.nix
Labels: none

deploy: c7cfdb386430b01fd9748139a0e9cfa40e36c265
  options.xhtml
Labels: none

htop: use attrsOf instead of attrs as settings type
  modules/programs/htop.nix
Labels: none

deploy: 82378b3f7f8c12ecfab8539df780e495e6ba4cb6
  options.xhtml
Labels: none

nixgl: add module
  modules/misc/news.nix
  modules/misc/nixgl.nix
  modules/modules.nix
Labels: none

nixgl: use makeWrapper and update docs
  modules/misc/nixgl.nix
Labels: none

nixgl: make desktop files point to wrapped exe
  modules/misc/nixgl.nix
Labels: none

nixgl: use -q to silence grep
  modules/misc/nixgl.nix
Labels: none

nixgl: API rework for flexibility and dual-GPU
  docs/manual/usage.md
  docs/manual/usage/gpu-non-nixos.md
  modules/misc/nixgl.nix
Labels: none

nixgl: reference lib directly
  modules/misc/nixgl.nix
Labels: none

nixgl: add support for channel-based configuration
  docs/manual/usage/gpu-non-nixos.md
  modules/misc/nixgl.nix
Labels: none

nixgl: ensure makeWrapper is present during build
  modules/misc/nixgl.nix
Labels: none

.github/labeler.yml:

"mail":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/aerc*.nix
    - modules/programs/alot*.nix
    - tests/modules/programs/aerc/*
    - tests/modules/programs/alot/*
    - modules/programs/mujmap.nix
    - tests/modules/programs/mujmap/*
    - modules/programs/notmuch.nix
    - modules/programs/neomutt*
    - tests/modules/programs/neomutt/*
    - modules/programs/getmail*
    - modules/*/mbsync*
    - tests/modules/programs/mbsync/*
    - modules/programs/himalaya.nix
    - tests/modules/programs/himalaya/*
    - modules/programs/thunderbird.nix
    - tests/modules/programs/thunderbird/*
    - modules/services/imapnotify.nix

"neovim":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/neovim.nix
    - tests/modules/programs/neovim/**/*

"shell":
- changed-files:
  - any-glob-to-any-file:
    - modules/lib/zsh.nix
    - modules/programs/zsh*
    - modules/programs/bash*
    - tests/modules/programs/zsh/**/*

"calendar":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/khal*
    - modules/*/vdirsyncer*
    - modules/accounts/calendar.nix

"contacts":
- changed-files:
  - any-glob-to-any-file:
    - modules/accounts/contacts.nix
