Repository nix-community/home-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: mail, neovim, shell, calendar, contacts

hyprpaper: fix service when no config file
  modules/services/hyprpaper.nix
  tests/modules/services/hyprpaper/default.nix
  tests/modules/services/hyprpaper/no-configuration.nix
Labels: none

programs.abook: remove platform linux assertion
  modules/programs/abook.nix
Labels: none

hyprpaper: fix service when no config file
  modules/services/hyprpaper.nix
  tests/modules/services/hyprpaper/default.nix
  tests/modules/services/hyprpaper/no-configuration.nix
Labels: none

hyprpaper: fix service when no config file
  modules/services/hyprpaper.nix
  tests/modules/services/hyprpaper/default.nix
  tests/modules/services/hyprpaper/no-configuration.nix
Labels: none

hypridle: fix service when no config file
  modules/services/hypridle.nix
  tests/modules/services/hypridle/default.nix
  tests/modules/services/hypridle/no-configuration.nix
Labels: none

hypridle: fix service when no config file
  modules/services/hypridle.nix
  tests/modules/services/hypridle/default.nix
  tests/modules/services/hypridle/no-configuration.nix
Labels: none

abook: remove platform linux assertion
  modules/programs/abook.nix
Labels: none

volnoti: add self to maintainers
  modules/services/volnoti.nix
Labels: none

volnoti: use cfg.package instead of pkgs
  modules/services/volnoti.nix
  tests/default.nix
  tests/modules/services/volnoti/default.nix
  tests/modules/services/volnoti/package-option.nix
Labels: none

mopidy: restart the systemd service on failure
  modules/services/mopidy.nix
Labels: none

zed-editor: add extraPackages option
  modules/programs/zed-editor.nix
Labels: none

mopidy: restart service on config changes
  modules/services/mopidy.nix
  tests/modules/services/mopidy/basic-configuration.nix
Labels: none

Bash: move bash.sessionVariables into .bashrc
  modules/programs/bash.nix
  tests/modules/programs/bash/session-variables.nix
Labels: shell

feat(zsh): initExtraLast option
  modules/programs/zsh.nix
Labels: shell

mbsync: stop using deprecated SSLType config
  modules/programs/mbsync.nix
  tests/modules/programs/mbsync/mbsync-expected.conf
Labels: mail

flake.lock: Update
  flake.lock
Labels: none

deploy: 0941a2e14486ee30e2088afa1d2869f2486dd3b8
  options.xhtml
Labels: none

tmux: set `sensibleOnTop = false` as a default
  modules/programs/tmux.nix
  tests/modules/programs/tmux/default-shell.conf
  tests/modules/programs/tmux/disable-confirmation-prompt.conf
  tests/modules/programs/tmux/emacs-with-plugins.conf
  tests/modules/programs/tmux/mouse-enabled.conf
  tests/modules/programs/tmux/prefix.conf
  tests/modules/programs/tmux/shortcut-without-prefix.conf
  tests/modules/programs/tmux/vi-all-true.conf
Labels: none

tmux: set `sensibleOnTop = false` as a default
  modules/programs/tmux.nix
  tests/modules/programs/tmux/default-shell.conf
  tests/modules/programs/tmux/disable-confirmation-prompt.conf
  tests/modules/programs/tmux/emacs-with-plugins.conf
  tests/modules/programs/tmux/mouse-enabled.conf
  tests/modules/programs/tmux/prefix.conf
  tests/modules/programs/tmux/shortcut-without-prefix.conf
  tests/modules/programs/tmux/vi-all-true.conf
Labels: none

deploy: f83dc9f25a5915c70b013102e30f3ee2a72ba633
  options.xhtml
Labels: none

kdeconnect: upgrade default version
  modules/services/kdeconnect.nix
Labels: none

deploy: 21396857fdceb61239a7ae67b9be4dbfd90c12c1
  options.xhtml
Labels: none

yazi: update keymap config
  modules/programs/yazi.nix
  tests/modules/programs/yazi/keymap-expected.toml
  tests/modules/programs/yazi/settings.nix
Labels: none

mopidy: make makeWrapper a native build input
  modules/services/mopidy.nix
Labels: none

mopidy: ignore collisions between extensions
  modules/services/mopidy.nix
Labels: none

kakoune: add colorSchemePackage option
  modules/programs/kakoune.nix
Labels: none

deploy: 2f7739d01080feb4549524e8f6927669b61c6ee3
  options.xhtml
Labels: none

lorri: fix ReadWritePaths for new gcroots behavior
  modules/services/lorri.nix
Labels: none

zsh-abbr: Add package option
  modules/programs/zsh/zsh-abbr.nix
Labels: none

lorri: fix ReadWritePaths for new gcroots behavior
  modules/services/lorri.nix
Labels: none

wpaperd: add systemd service; move to services/ from programs/
  modules/misc/news.nix
  modules/modules.nix
  modules/programs/wpaperd.nix
  modules/services/wpaperd.nix
  tests/default.nix
  tests/modules/services/wpaperd/default.nix
  tests/modules/services/wpaperd/wpaperd-example-settings.nix
  tests/modules/services/wpaperd/wpaperd-expected-settings.toml
Labels: none

lazydocker: add module
  modules/modules.nix
  modules/programs/lazydocker.nix
  tests/default.nix
  tests/modules/programs/lazydocker/custom-settings.nix
  tests/modules/programs/lazydocker/custom-settings.yml
  tests/modules/programs/lazydocker/default-settings.nix
  tests/modules/programs/lazydocker/default.nix
  tests/modules/programs/lazydocker/default.yml
Labels: none

starship: add option to use community presets
  modules/lib/maintainers.nix
  modules/programs/starship.nix
Labels: none

flake.lock: Update
  flake.lock
Labels: none

home-manager: prepare 24.11 release
  README.md
  docs/manual/installation/nix-darwin.md
  docs/manual/installation/nixos.md
  docs/manual/installation/standalone.md
  docs/manual/nix-flakes/standalone.md
  docs/manual/usage/configuration.md
  docs/release-notes/rl-2411.md
  home-manager/home-manager
  modules/misc/uninstall.nix
  tests/integration/nixos/basics.nix
  tests/integration/standalone/alice-home-init.nix
  tests/integration/standalone/alice-home-next.nix
  tests/integration/standalone/kitty-theme-bad-home.nix
  tests/integration/standalone/kitty-theme-good-home.nix
Labels: none

home-manager: prepare 24.11 release
  README.md
  docs/manual/installation/nix-darwin.md
  docs/manual/installation/nixos.md
  docs/manual/installation/standalone.md
  docs/manual/nix-flakes/standalone.md
  docs/manual/usage/configuration.md
  docs/release-notes/rl-2411.md
  home-manager/home-manager
  modules/misc/uninstall.nix
  tests/integration/nixos/basics.nix
  tests/integration/standalone/alice-home-init.nix
  tests/integration/standalone/alice-home-next.nix
  tests/integration/standalone/kitty-theme-bad-home.nix
  tests/integration/standalone/kitty-theme-good-home.nix
Labels: none

deploy: 4964f3c6fc17ae4578e762d3dc86b10fe890860e
  index.xhtml
  release-notes.xhtml
Labels: none

docs: set manual title
  docs/manual/manual.md
Labels: none

alot: make package used by module configurable
  modules/programs/alot.nix
Labels: mail

zsh-abbr: add package option
  modules/programs/zsh/zsh-abbr.nix
Labels: none

.github/labeler.yml:

"mail":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/aerc*.nix
    - modules/programs/alot*.nix
    - tests/modules/programs/aerc/*
    - tests/modules/programs/alot/*
    - modules/programs/mujmap.nix
    - tests/modules/programs/mujmap/*
    - modules/programs/notmuch.nix
    - modules/programs/neomutt*
    - tests/modules/programs/neomutt/*
    - modules/programs/getmail*
    - modules/*/mbsync*
    - tests/modules/programs/mbsync/*
    - modules/programs/himalaya.nix
    - tests/modules/programs/himalaya/*
    - modules/programs/thunderbird.nix
    - tests/modules/programs/thunderbird/*
    - modules/services/imapnotify.nix

"neovim":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/neovim.nix
    - tests/modules/programs/neovim/**/*

"shell":
- changed-files:
  - any-glob-to-any-file:
    - modules/lib/zsh.nix
    - modules/programs/zsh*
    - modules/programs/bash*
    - tests/modules/programs/zsh/**/*

"calendar":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/khal*
    - modules/*/vdirsyncer*
    - modules/accounts/calendar.nix

"contacts":
- changed-files:
  - any-glob-to-any-file:
    - modules/accounts/contacts.nix
