Repository nix-community/home-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: mail, neovim, shell, calendar, contacts

.github/labeler.yml:

"mail":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/aerc*.nix
    - modules/programs/alot*.nix
    - tests/modules/programs/aerc/*
    - tests/modules/programs/alot/*
    - modules/programs/mujmap.nix
    - tests/modules/programs/mujmap/*
    - modules/programs/notmuch.nix
    - modules/programs/neomutt*
    - tests/modules/programs/neomutt/*
    - modules/programs/getmail*
    - modules/*/mbsync*
    - tests/modules/programs/mbsync/*
    - modules/programs/himalaya.nix
    - tests/modules/programs/himalaya/*
    - modules/programs/thunderbird.nix
    - tests/modules/programs/thunderbird/*
    - modules/services/imapnotify.nix

"neovim":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/neovim.nix
    - tests/modules/programs/neovim/**/*

"shell":
- changed-files:
  - any-glob-to-any-file:
    - modules/lib/zsh.nix
    - modules/programs/zsh*
    - modules/programs/bash*
    - tests/modules/programs/zsh/**/*

"calendar":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/khal*
    - modules/*/vdirsyncer*
    - modules/accounts/calendar.nix

"contacts":
- changed-files:
  - any-glob-to-any-file:
    - modules/accounts/contacts.nix

floorp: add module
  modules/modules.nix
  modules/programs/floorp.nix
  tests/default.nix
  tests/modules/programs/firefox/floorp.nix
  tests/modules/programs/firefox/profile-settings.nix
  tests/modules/programs/firefox/profiles/bookmarks/expected-bookmarks-user.js
  tests/modules/programs/firefox/profiles/search/expected-search-without-default.json
  tests/modules/programs/firefox/profiles/search/expected-search.json
Labels: none

vifm: add module
  modules/lib/maintainers.nix
  modules/misc/news.nix
  modules/modules.nix
  modules/programs/vifm.nix
  tests/default.nix
  tests/modules/programs/vifm/default.nix
  tests/modules/programs/vifm/empty-settings.nix
  tests/modules/programs/vifm/example-settings.nix
Labels: none

deploy: 582830954264080aae93f751c3cdc58df600d2d1
  options.xhtml
Labels: none

Fix a typo
  modules/programs/eza.nix
Labels: none

git: add module for `git maintenance` (#5772)
  modules/programs/git.nix
Labels: none

deploy: 65ae9c147349829d3df0222151f53f79821c5134
  options.xhtml
Labels: none

floorp: fix policies test and refactor
  tests/modules/programs/firefox/common.nix
  tests/modules/programs/firefox/firefox.nix
  tests/modules/programs/firefox/floorp.nix
  tests/modules/programs/firefox/policies.nix
  tests/modules/programs/firefox/profiles/bookmarks/default.nix
  tests/modules/programs/firefox/profiles/search/default.nix
Labels: none

pls: fixed perm argument to pass via pls
  modules/programs/pls.nix
  tests/modules/programs/pls/bash.nix
  tests/modules/programs/pls/fish.nix
  tests/modules/programs/pls/zsh.nix
Labels: none

floorp: add module
  modules/modules.nix
  modules/programs/floorp.nix
  tests/default.nix
  tests/modules/programs/firefox/common.nix
  tests/modules/programs/firefox/firefox.nix
  tests/modules/programs/firefox/floorp.nix
  tests/modules/programs/firefox/policies.nix
  tests/modules/programs/firefox/profile-settings.nix
  tests/modules/programs/firefox/profiles/bookmarks/default.nix
  tests/modules/programs/firefox/profiles/bookmarks/expected-bookmarks-user.js
  tests/modules/programs/firefox/profiles/search/default.nix
  tests/modules/programs/firefox/profiles/search/expected-search-without-default.json
  tests/modules/programs/firefox/profiles/search/expected-search.json
Labels: none

deploy: 2b13611eaed8326789f76f70d21d06fbb14e3e47
  options.xhtml
Labels: none

espanso: use `launcher` command on Linux
  modules/services/espanso.nix
Labels: none

espanso: add sandboxing for systemd service
  modules/services/espanso.nix
  tests/modules/services/espanso/basic-configuration.service
Labels: none

zoxide: fix fzf bash-completion conflict
  modules/programs/zoxide.nix
Labels: none

espanso: remove `Type` and add `RestartSec`
  modules/services/espanso.nix
  tests/modules/services/espanso/basic-configuration.service
Labels: none

pls: fixed perm argument to pass via pls
  modules/programs/pls.nix
  tests/modules/programs/pls/bash.nix
  tests/modules/programs/pls/fish.nix
  tests/modules/programs/pls/zsh.nix
Labels: none

firefox: split search into separate submodule file
  modules/programs/firefox.nix
  modules/programs/firefox/mkFirefoxModule.nix
  modules/programs/firefox/profiles/search.nix
Labels: none

thunderbird: support setting search engines
  modules/programs/thunderbird.nix
Labels: mail

espanso: fix test
  tests/modules/services/espanso/basic-configuration.service
Labels: none

thunderbird: support setting search engines (#5697)
  modules/programs/firefox.nix
  modules/programs/firefox/mkFirefoxModule.nix
  modules/programs/firefox/profiles/search.nix
  modules/programs/thunderbird.nix
Labels: mail

deploy: e1aec543f5caf643ca0d94b6a633101942fd065f
  options.xhtml
Labels: none

Add Glab
  modules/programs/glab.nix
  tests/modules/programs/glab/config-file.nix
  tests/modules/programs/glab/credential-helper.git.conf
  tests/modules/programs/glab/credential-helper.nix
  tests/modules/programs/glab/default.nix
Labels: none

zsh-abbr: updating old plugin name
  modules/programs/zsh/zsh-abbr.nix
Labels: none

firefox: Avoid unnecessarily overriding package
  modules/programs/firefox/mkFirefoxModule.nix
  tests/modules/programs/firefox/common.nix
  tests/modules/programs/firefox/final-package.nix
Labels: none

adjustements
  modules/programs/neovim.nix
Labels: neovim

moar adjustements
  modules/programs/neovim.nix
Labels: neovim

Reapply "programs.neovim: link packpath dir in XDG_DATA_HOME (#3717)" (#3817)
  modules/programs/neovim.nix
Labels: neovim

eza: fix icons option
  docs/release-notes/rl-2411.md
  modules/programs/eza.nix
Labels: none

deploy: 2a4fd1cfd8ed5648583dadef86966a8231024221
  options.xhtml
  release-notes.xhtml
Labels: none

lsd: add support for icons.yaml
  modules/programs/lsd.nix
Labels: none

nushell: fix environment variable assignment
  modules/programs/nushell.nix
Labels: none

espanso: fix test
  tests/modules/services/espanso/basic-configuration.nix
Labels: none

espanso: add wayland test
  tests/modules/services/espanso/basic-configuration.nix
  tests/modules/services/espanso/default.nix
Labels: none

espanso: add crossplatform support
  modules/services/espanso.nix
Labels: none

nushell: allow arbitrary environment variables
  modules/programs/nushell.nix
  tests/modules/programs/nushell/env-expected.nu
  tests/modules/programs/nushell/example-settings.nix
Labels: none

nushell: add joaquintrinanes as maintainer
  modules/programs/nushell.nix
Labels: none

nushell: create generator helpers
  modules/lib/default.nix
  modules/lib/nushell.nix
  modules/lib/types.nix
Labels: none

Translate using Weblate (Romanian)
  modules/po/ro.po
Labels: none

Translate using Weblate (Lithuanian)
  home-manager/po/lt.po
Labels: none

Translate using Weblate (German)
  modules/po/de.po
Labels: none

deploy: 628b15d275a536fd4d4b9ab4405dd1f0eb34fe18
  options.xhtml
Labels: none
