Repository nix-community/home-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: mail, neovim, shell, calendar, contacts

firefox: fix incorrect condition
  modules/programs/firefox/mkFirefoxModule.nix
Labels: none

neovim: use `home.shellAliases`
  modules/programs/neovim.nix
Labels: neovim

kitty: remove IFD
  modules/misc/news.nix
  modules/programs/kitty.nix
  tests/integration/default.nix
  tests/integration/standalone/kitty-theme-bad-home.nix
  tests/integration/standalone/kitty-theme-good-home.nix
  tests/integration/standalone/kitty.nix
  tests/modules/programs/kitty/default.nix
  tests/modules/programs/kitty/theme-to-themeFile.nix
Labels: none

deploy: ecaed80b18e1d179d728d862c96d2fe43699226b
  options.xhtml
Labels: none

ssh-agent: use POSIX conforming if condition
  modules/services/ssh-agent.nix
Labels: none

poweralertd: Enable passing CLI args to the daemon
  modules/services/poweralertd.nix
Labels: none

deploy: 8d7e352a4b25ac2d88a881ffa3472680af916ddc
  options.xhtml
Labels: none

swayidle: make -w optional
  docs/release-notes/rl-2411.md
  modules/misc/news.nix
  modules/services/swayidle.nix
Labels: none

swayidle: make -w optional
  docs/release-notes/rl-2411.md
  modules/misc/news.nix
  modules/services/swayidle.nix
Labels: none

deploy: 4803bf558bdf20cb067aceb8830b7ad70113f4e3
  options.xhtml
  release-notes.xhtml
Labels: none

swayidle: minor cleanups
  modules/services/swayidle.nix
  tests/modules/services/swayidle/basic-configuration.nix
Labels: none

wezterm: fix generated configuration
  modules/programs/wezterm.nix
  tests/modules/programs/wezterm/empty-setting.nix
  tests/modules/programs/wezterm/example-setting.nix
Labels: none

poweralertd: fix regression
  modules/services/poweralertd.nix
Labels: none

zoxide: clarify `options` option
  modules/programs/zoxide.nix
Labels: none

deploy: 14929f7089268481d86b83ed31ffd88713dcd415
  options.xhtml
Labels: none

thunderbird: set MOZ_* variables for legacy profiles.ini
  modules/programs/thunderbird.nix
Labels: mail

firefox: set MOZ_* variables for legacy profiles.ini
  modules/programs/firefox/mkFirefoxModule.nix
Labels: none

fix formatting
  modules/programs/fish.nix
Labels: none

programs.fish: Configurable generation of completions.
  modules/programs/fish.nix
Labels: none

launchd: create service to launchctl setenv for all sessionVariables
  modules/launchd/default.nix
Labels: none

Revert "firefox: fix incorrect condition"
  modules/programs/firefox/mkFirefoxModule.nix
Labels: none

Revert "firefox: only add Version = 2 on non-darwin"
  modules/programs/firefox/mkFirefoxModule.nix
Labels: none

flake.lock: Update
  flake.lock
Labels: none

borgmatic: fix service permissions
  modules/services/borgmatic.nix
  tests/modules/services/borgmatic/basic-configuration.service
Labels: none

fcitx5: add configurability of input methods
  modules/i18n/input-method/fcitx5.nix
  tests/modules/i18n/input-method/default.nix
  tests/modules/i18n/input-method/fcitx5-configuration-full.nix
  tests/modules/i18n/input-method/fcitx5-profile
Labels: none

ci: disable the tests for macos
  .github/workflows/test.yml
Labels: none

zsh: Add extraPackages option
  modules/programs/zsh.nix
Labels: shell

qt: use kwriteconfig6 in qt.kde.settings and actually call the tool
  modules/misc/qt/kconfig.nix
Labels: none

cosmic: remove atagen as maintainer
  modules/lib/maintainers.nix
Labels: none

direnv: update for new nushell behavior
  modules/programs/direnv.nix
  tests/modules/programs/direnv/nushell.nix
Labels: none

direnv: update for new nushell behavior (#5880)
  modules/programs/direnv.nix
  tests/modules/programs/direnv/nushell.nix
Labels: none

direnv: work around nushell bug
  modules/programs/direnv.nix
  tests/modules/programs/direnv/nushell.nix
Labels: none

man: add mandoc and man-db options
  modules/programs/man.nix
  modules/programs/man/man-db.nix
  modules/programs/man/mandoc.nix
Labels: none

dircolors: respect preferXdgDirectories if set
  modules/programs/dircolors.nix
Labels: none

flake.lock: Update
  flake.lock
Labels: none

direnv: work around nushell bug
  modules/programs/direnv.nix
  tests/modules/programs/direnv/nushell.nix
Labels: none

Add another browser example to trigger CI pipeline
  modules/services/psd.nix
Labels: none

direnv: even better nushell fix
  modules/programs/direnv.nix
Labels: none

direnv: even better nushell fix
  modules/programs/direnv.nix
Labels: none

river: reduce risk of large rebuilds in test
  tests/modules/services/window-managers/river/configuration.nix
  tests/modules/services/window-managers/river/init
Labels: none

.github/labeler.yml:

"mail":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/aerc*.nix
    - modules/programs/alot*.nix
    - tests/modules/programs/aerc/*
    - tests/modules/programs/alot/*
    - modules/programs/mujmap.nix
    - tests/modules/programs/mujmap/*
    - modules/programs/notmuch.nix
    - modules/programs/neomutt*
    - tests/modules/programs/neomutt/*
    - modules/programs/getmail*
    - modules/*/mbsync*
    - tests/modules/programs/mbsync/*
    - modules/programs/himalaya.nix
    - tests/modules/programs/himalaya/*
    - modules/programs/thunderbird.nix
    - tests/modules/programs/thunderbird/*
    - modules/services/imapnotify.nix

"neovim":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/neovim.nix
    - tests/modules/programs/neovim/**/*

"shell":
- changed-files:
  - any-glob-to-any-file:
    - modules/lib/zsh.nix
    - modules/programs/zsh*
    - modules/programs/bash*
    - tests/modules/programs/zsh/**/*

"calendar":
- changed-files:
  - any-glob-to-any-file:
    - modules/programs/khal*
    - modules/*/vdirsyncer*
    - modules/accounts/calendar.nix

"contacts":
- changed-files:
  - any-glob-to-any-file:
    - modules/accounts/contacts.nix
