Repository nix-community/home-manager, pull requests merged in 2021-02, with the labels that each got.

#1810 neovim: deprecate programs.neovim.configure
  doc/release-notes/rl-2105.adoc
  modules/programs/neovim.nix
Labels: program: neovim

#1793 nixos: add sharedModules and extraSpecialArgs options
  nix-darwin/default.nix
  nixos/default.nix
Labels: system: nixos

#1826 alot: set primary email first
  modules/programs/alot.nix
Labels: mail
