Repository nix-community/home-manager, pull requests merged in 2022-12, with the labels that each got.

#3461 thunderbird: use account id for IMAP directory name
  modules/programs/thunderbird.nix
  tests/modules/programs/thunderbird/thunderbird-expected-first.js
  tests/modules/programs/thunderbird/thunderbird-expected-second.js
Labels: mail

#3196 flake: correct nix-darwin flake description
  docs/nix-flakes.adoc
  templates/nix-darwin/flake.nix
Labels: status: stale

#3437 fix: nushell supports darwin config file locations
  modules/programs/nushell.nix
  tests/modules/programs/nushell/example-settings.nix
Labels: shell

#3533 neovim: fix extraLuaPackages type.
  modules/programs/neovim.nix
  tests/modules/programs/neovim/runtime.nix
Labels: neovim

#3496 vim,neovim: add `defaultEditor`
  modules/programs/neovim.nix
  modules/programs/vim.nix
Labels: neovim
