Repository nix-community/home-manager, pull requests merged in 2023-07, with the labels that each got.

#4167 vdirsyncer: synchronize metadata as well
  modules/services/vdirsyncer.nix
Labels: calendar

#4138 Fixing some minor issues with calendar infra.
  modules/accounts/calendar.nix
  modules/programs/khal.nix
  tests/default.nix
  tests/modules/programs/khal/config.nix
  tests/modules/programs/khal/default.nix
Labels: calendar

#3291 imapnotify: Add launchd agent
  modules/services/imapnotify.nix
  tests/default.nix
  tests/modules/programs/goimapnotify/default.nix
  tests/modules/programs/goimapnotify/launchd.nix
  tests/modules/programs/goimapnotify/launchd.plist
Labels: mail

#4195 himalaya: Fix notmuch backend
  modules/programs/himalaya.nix
  tests/modules/programs/himalaya/notmuch-sendmail-expected.toml
Labels: mail

#4196 aerc: add assertion to limit per-account extraConfig to UI config
  modules/programs/aerc-accounts.nix
  modules/programs/aerc.nix
  tests/modules/programs/aerc/assertion.nix
  tests/modules/programs/aerc/default.nix
Labels: mail

#4236 zsh: fix custom syntax highlighting styles
  modules/programs/zsh.nix
  tests/modules/programs/zsh/syntax-highlighting.nix
Labels: shell

#4238 imapnotify: Use JSON type for extraConfig
  modules/services/imapnotify-accounts.nix
  modules/services/imapnotify.nix
Labels: mail
