Repository nix-community/home-manager, pull requests merged in 2023-05, with the labels that each got.

#3664 himalaya: improve derivation for v0.7.X
  modules/lib/maintainers.nix
  modules/programs/himalaya.nix
  tests/modules/programs/himalaya/basic-expected.toml
  tests/modules/programs/himalaya/basic.nix
  tests/modules/programs/himalaya/default.nix
  tests/modules/programs/himalaya/imap-smtp-expected.toml
  tests/modules/programs/himalaya/imap-smtp.nix
  tests/modules/programs/himalaya/maildir-sendmail-expected.toml
  tests/modules/programs/himalaya/maildir-sendmail.nix
Labels: mail

#3636 xsession: cleanup systemd variables
  modules/xsession.nix
  tests/modules/misc/xsession/basic-xprofile-expected.txt
  tests/modules/misc/xsession/basic-xsession-expected.txt
Labels: status: stale

#3661 ledger: add structural `settings` option
  .github/CODEOWNERS
  modules/programs/ledger.nix
  tests/default.nix
  tests/modules/programs/ledger/default.nix
  tests/modules/programs/ledger/ledger.nix
Labels: status: stale

#3659 translate-shell: add module
  .github/CODEOWNERS
  modules/modules.nix
  modules/programs/translate-shell.nix
  tests/default.nix
  tests/modules/programs/translate-shell/default.nix
  tests/modules/programs/translate-shell/translate-shell.nix
Labels: status: stale

#3996 neomutt: add missing stub in test
  tests/modules/programs/neomutt/neomutt-with-binds-invalid-settings.nix
Labels: mail

#4007 lib/file-type: fix xrefs
  modules/files.nix
  modules/lib/file-type.nix
  modules/misc/xdg.nix
  modules/programs/neovim.nix
Labels: neovim
