Repository nix-community/home-manager, pull requests merged in 2023-03, with the labels that each got.

#3727 [backport #3639] programs.neovim: add extraLuaConfig
  modules/programs/neovim.nix
  tests/modules/programs/neovim/default.nix
  tests/modules/programs/neovim/extra-lua-init.nix
Labels: neovim

#3265 mako: programs.mako -> services.mako
  modules/services/mako.nix
Labels: status: stale

#3798 programs/alot: make Sent and Drafts folder optional
  modules/accounts/email.nix
  modules/programs/alot.nix
Labels: mail
