Repository nix-community/home-manager, pull requests merged in 2023-06, with the labels that each got.

#3150 aerc: improve module
  modules/programs/aerc-accounts.nix
  modules/programs/aerc.nix
  tests/modules/programs/aerc/extraAccounts.expected
  tests/modules/programs/aerc/settings.nix
Labels: mail

#4088 khal: improve module
  modules/programs/khal-calendar-accounts.nix
  modules/programs/khal.nix
Labels: calendar

#4122 zsh: allow setting custom syntax highlighting styles
  modules/programs/zsh.nix
  tests/modules/programs/zsh/default.nix
  tests/modules/programs/zsh/syntax-highlighting.nix
Labels: shell
