Repository nix-community/home-manager, pull requests merged in 2023-08, with the labels that each got.

#4299 himalaya: Update a link to ticket
  modules/programs/himalaya.nix
Labels: mail

#4248 zsh: Add `zsh.history.ignoreAllDups` config option
  modules/programs/zsh.nix
Labels: shell

#4272 aerc: do not use smtp-starttls
  modules/programs/aerc-accounts.nix
  tests/modules/programs/aerc/extraAccounts.expected
Labels: mail

#4319 khal: uncomment locale config
  modules/programs/khal.nix
Labels: calendar

#4375 khal: add options for default and view sections
  modules/programs/khal.nix
  tests/modules/programs/khal/config.nix
  tests/modules/programs/khal/khal-config-expected
Labels: calendar
