Repository nix-community/home-manager, pull requests merged in 2024-12, with the labels that each got.

#6159 alot: make package used by module configurable
  modules/programs/alot.nix
Labels: mail

#6151 zsh: make autosuggest strategy accept more options
  modules/programs/zsh.nix
Labels: shell

#5760 mangohud: fix a non-working example of settingsPerApplication
  modules/programs/mangohud.nix
Labels: status: stale

#5740 imapnotify: provide an option for setting PATH
  modules/services/imapnotify.nix
  tests/modules/services/imapnotify/imapnotify.service
Labels: mail

#5918 isync/mbsync: update module for 1.5.0 changes
  modules/misc/news.nix
  modules/programs/mbsync-accounts.nix
  modules/programs/mbsync.nix
  tests/modules/programs/mbsync/mbsync-expected.conf
  tests/modules/programs/mbsync/mbsync.nix
Labels: mail

#6177 thunderbird: set the correct SMTP server for aliases
  modules/programs/thunderbird.nix
  tests/modules/programs/thunderbird/thunderbird-expected-first.js
Labels: mail

#6194 [24.11 backport] isync/mbsync: update module for 1.5.0 changes
  modules/misc/news.nix
  modules/programs/mbsync-accounts.nix
  modules/programs/mbsync.nix
  tests/modules/programs/mbsync/mbsync-expected.conf
  tests/modules/programs/mbsync/mbsync.nix
Labels: mail

#6216 thunderbird: add profileVersion
  modules/programs/thunderbird.nix
Labels: mail

#6033 thunderbird: Implement `extensions` for profiles
  modules/programs/thunderbird.nix
Labels: mail

#5835 waybar: add systemd restart triggers
  modules/programs/waybar.nix
Labels: status: stale
