Repository nix-community/home-manager, pull requests merged in 2024-04, with the labels that each got.

#5221 programs.khal: remove extra new line on config
  modules/programs/khal-accounts.nix
  modules/programs/khal.nix
  tests/modules/programs/khal/config.nix
  tests/modules/programs/khal/khal-config-expected
Labels: calendar

#5225 neovim: enable use of external package manager
  modules/programs/neovim.nix
  tests/modules/programs/neovim/runtime.nix
Labels: neovim

#5296 bash: add bash package to home.packages
  modules/programs/bash.nix
Labels: shell

#4853 alacritty: fix escape sequence in example and test
  modules/programs/alacritty.nix
  tests/modules/programs/alacritty/settings-toml-expected.toml
  tests/modules/programs/alacritty/toml_config.nix
Labels: status: stale

#2565 kconifg:init
  modules/misc/qt/kconfig.nix
  modules/modules.nix
Labels: pinned

#5320 zsh: use correct autosuggestion style variable
  modules/programs/zsh.nix
Labels: shell

#5267 neomutt: allow binds to override vimKeys
  modules/programs/neomutt.nix
  tests/modules/programs/neomutt/neomutt-expected.conf
  tests/modules/programs/neomutt/neomutt-not-primary-expected.conf
  tests/modules/programs/neomutt/neomutt-with-binds-expected.conf
  tests/modules/programs/neomutt/neomutt-with-imap-expected.conf
  tests/modules/programs/neomutt/neomutt-with-imap-type-mailboxes-expected.conf
  tests/modules/programs/neomutt/neomutt-with-named-mailboxes-expected.conf
Labels: mail
