Repository nix-community/home-manager, pull requests merged in 2024-05, with the labels that each got.

#5014 hyprland: add support for XDG autostart using systemd
  modules/services/window-managers/hyprland.nix
Labels: window-manager

#5397 bash: Add missing 'ignoreboth' to historyControl allowed values
  modules/programs/bash.nix
Labels: shell

#5428 khal: add package option
  modules/programs/khal.nix
Labels: calendar
