Repository nix-community/home-manager, pull requests merged in 2024-02, with the labels that each got.

#4983 vdirsyncer: only create postHook script when non-empty
  modules/programs/vdirsyncer-accounts.nix
  modules/programs/vdirsyncer.nix
Labels: calendar

#4629 kitty: always export `KITTY_SHELL_INTEGRATION`
  modules/programs/kitty.nix
  tests/modules/programs/kitty/example-settings-expected.conf
Labels: status: stale

#4839 himalaya: adjust module for `v1.0.0-beta`
  modules/programs/himalaya.nix
  tests/modules/programs/himalaya/basic-expected.toml
  tests/modules/programs/himalaya/basic.nix
  tests/modules/programs/himalaya/default.nix
  tests/modules/programs/himalaya/imap-smtp-expected.toml
  tests/modules/programs/himalaya/imap-smtp.nix
  tests/modules/programs/himalaya/maildir-sendmail-expected.toml
  tests/modules/programs/himalaya/maildir-sendmail.nix
  tests/modules/programs/himalaya/notmuch-sendmail-expected.toml
  tests/modules/programs/himalaya/notmuch-sendmail.nix
Labels: mail

#4999 neomutt: move crypt_use_gpgme from account to global config
  modules/programs/neomutt.nix
  tests/modules/programs/neomutt/hm-example.com-expected
  tests/modules/programs/neomutt/hm-example.com-gpg-expected.conf
  tests/modules/programs/neomutt/hm-example.com-msmtp-expected.conf
  tests/modules/programs/neomutt/hm-example.com-no-folder-change-expected.conf
  tests/modules/programs/neomutt/hm-example.com-signature-command-expected
  tests/modules/programs/neomutt/hm-example.com-signature-expected
  tests/modules/programs/neomutt/hm-example.com-starttls-expected
  tests/modules/programs/neomutt/neomutt-expected.conf
  tests/modules/programs/neomutt/neomutt-not-primary-expected.conf
  tests/modules/programs/neomutt/neomutt-with-binds-expected.conf
  tests/modules/programs/neomutt/neomutt-with-named-mailboxes-expected.conf
Labels: mail

#4636 sway: fix workspace 10 missing from default config
  modules/services/window-managers/i3-sway/sway.nix
  tests/modules/services/window-managers/sway/sway-bar-focused-colors.conf
  tests/modules/services/window-managers/sway/sway-bindkeys-to-code-and-extra-config.conf
  tests/modules/services/window-managers/sway/sway-default.conf
  tests/modules/services/window-managers/sway/sway-followmouse-expected.conf
  tests/modules/services/window-managers/sway/sway-followmouse-legacy-expected.conf
  tests/modules/services/window-managers/sway/sway-modules.conf
  tests/modules/services/window-managers/sway/sway-null-package.conf
  tests/modules/services/window-managers/sway/sway-post-2003.conf
  tests/modules/services/window-managers/sway/sway-workspace-default-expected.conf
  tests/modules/services/window-managers/sway/sway-workspace-output-expected.conf
Labels: window-manager

#5013 imapnotify: enable STARTTLS if enabled in email account config
  modules/services/imapnotify.nix
  tests/modules/services/imapnotify/imapnotify-config.json
  tests/modules/services/imapnotify/imapnotify.nix
Labels: mail

#4597 neomutt: add IMAP support
  modules/programs/neomutt-accounts.nix
  modules/programs/neomutt.nix
  tests/modules/programs/neomutt/account-command.sh-expected
  tests/modules/programs/neomutt/default.nix
  tests/modules/programs/neomutt/hm-example.com-imap-expected.conf
  tests/modules/programs/neomutt/neomutt-with-imap-expected.conf
  tests/modules/programs/neomutt/neomutt-with-imap-type-mailboxes-expected.conf
  tests/modules/programs/neomutt/neomutt-with-imap-type-mailboxes.nix
  tests/modules/programs/neomutt/neomutt-with-imap.nix
Labels: mail, status: stale

#5041 zsh: fix broken ZDOTDIR when path contains spaces
  modules/programs/zsh.nix
Labels: shell
