Repository nix-community/home-manager, pull requests merged in 2024-09, with the labels that each got.

#5814 tests: change quoting to match new Nixpkgs behavior
  tests/modules/misc/xsession/basic-xprofile-expected.txt
  tests/modules/misc/xsession/basic-xsession-expected.txt
  tests/modules/programs/atuin/set-flags.nix
  tests/modules/programs/bat/bat.nix
  tests/modules/programs/bat/deprecated-options.nix
  tests/modules/programs/bemenu/basic-configuration.nix
  tests/modules/programs/gpg/immutable-keyfiles.nix
  tests/modules/programs/gpg/mutable-keyfiles.nix
  tests/modules/programs/mujmap/mujmap-defaults-expected.toml
  tests/modules/programs/pls/bash.nix
  tests/modules/programs/pls/fish.nix
  tests/modules/programs/pls/zsh.nix
  tests/modules/programs/thefuck/integration-enabled-instant.nix
  tests/modules/programs/thefuck/integration-enabled.nix
  tests/modules/programs/zsh/syntax-highlighting.nix
  tests/modules/programs/zsh/zsh-abbr.nix
  tests/modules/services/cachix-agent/basic-setup.nix
  tests/modules/services/cliphist/cliphist-extra-options.nix
  tests/modules/services/emacs/emacs-service-emacs-after-graphical-session-target.service
  tests/modules/services/emacs/emacs-service-emacs.service
  tests/modules/services/emacs/emacs-socket-27-emacs.service
  tests/modules/services/emacs/emacs-socket-28-emacs.service
  tests/modules/services/fnott/systemd-user-service-expected.service
  tests/modules/services/imapnotify/imapnotify-config.json
  tests/modules/services/mpd-mpris/configuration-with-password.service
  tests/modules/services/mpd/basic-configuration.service
  tests/modules/services/mpd/start-when-needed.service
  tests/modules/services/parcellite/parcellite-expected.service
  tests/modules/services/pasystray/expected.service
  tests/modules/services/redshift-gammastep/gammastep-basic-configuration-expected.service
  tests/modules/services/redshift-gammastep/redshift-basic-configuration-expected.service
  tests/modules/services/remmina/basic-config.nix
  tests/modules/services/signaturepdf/basic-configuration.service
  tests/modules/services/swayosd/swayosd.nix
  tests/modules/services/syncthing/common/extra-options.nix
  tests/modules/services/window-managers/bspwm/bspwmrc
  tests/modules/services/window-managers/herbstluftwm/herbstluftwm-simple-config-autostart
  tests/modules/services/wlsunset/wlsunset-service-expected.service
  tests/modules/systemd/user-config.nix
Labels: mail, shell

#5077 thunderbird: change settings type to json
  modules/programs/thunderbird.nix
  tests/modules/programs/thunderbird/thunderbird-expected-second.js
  tests/modules/programs/thunderbird/thunderbird.nix
Labels: mail, status: stale

#5871 neovim: use `home.shellAliases` for the `vimdiffAlias` option
  modules/programs/neovim.nix
Labels: neovim

#5556 ssh-agent: use POSIX-conform test for session variables
  modules/services/ssh-agent.nix
Labels: status: stale
