Repository nix-community/home-manager, pull requests merged in 2024-03, with the labels that each got.

#4836 khal: fix contact integration
  modules/accounts/contacts.nix
  modules/programs/khal-accounts.nix
  modules/programs/khal-calendar-accounts.nix
  modules/programs/khal-contact-accounts.nix
  modules/programs/khal.nix
  tests/modules/programs/khal/config.nix
  tests/modules/programs/khal/khal-config-expected
Labels: calendar, contacts

#5073 Simplify calendar setup
  modules/accounts/calendar.nix
  modules/programs/khal-calendar-accounts.nix
Labels: calendar

#5096 vdirsyncer: fix verify option type
  modules/programs/vdirsyncer-accounts.nix
  modules/programs/vdirsyncer.nix
Labels: calendar

#5047 zsh: support shellAliases beginning with a `-`
  modules/programs/zsh.nix
  tests/modules/programs/pls/zsh.nix
Labels: shell

#5056 himalaya: adjust code for v1.0.0-beta.3
  modules/programs/himalaya.nix
  tests/modules/programs/himalaya/basic-expected.toml
Labels: mail

#5068 neomutt: adding unmailboxes option
  modules/programs/neomutt.nix
  tests/modules/programs/neomutt/default.nix
  tests/modules/programs/neomutt/hm-example.com-unmailboxes-expected.conf
  tests/modules/programs/neomutt/neomutt-unmailboxes.nix
Labels: mail

#5107 offlineimap: disable starttls if tls is disabled
  modules/programs/offlineimap.nix
Labels: mail

#4704 zsh: set autosuggestion color
  modules/programs/zsh.nix
Labels: shell

#4404 vdirsyncer: add urlCommand and userNameCommand options
  modules/accounts/calendar.nix
  modules/programs/vdirsyncer-accounts.nix
  modules/programs/vdirsyncer.nix
Labels: calendar

#5192 programs.khal: ability to set RGB color
  modules/programs/khal-accounts.nix
  modules/programs/khal.nix
  tests/modules/programs/khal/config.nix
  tests/modules/programs/khal/khal-config-expected
Labels: calendar
