Repository nix-community/home-manager, pull requests merged in 2025-09, with the labels that each got.

#7277 hyprland: add support for submaps (#6062)
  modules/services/window-managers/hyprland.nix
Labels: window-managers

#7765 aerospace: use upstream example for exec-on-workspace-change
  modules/programs/aerospace.nix
Labels: window-managers

#7779 polybar: make sure X-Restart-Triggers is a list
  modules/services/polybar.nix
Labels: x11, bars

#7766 syncthing: Fix for syncthing v2 (#7762)
  modules/services/syncthing.nix
  tests/modules/services/syncthing/extra-options.nix
Labels: sync

#7783 hyprsunset: fixed evaluation when hyprland package is null
  modules/services/hyprsunset.nix
Labels: wayland

#7794 kitty: add quick-access-terminal configuration
  modules/misc/news/2025/09/2025-09-08_22-33-53.nix
  modules/programs/kitty.nix
  tests/modules/programs/kitty/default.nix
  tests/modules/programs/kitty/example-quickAccessTerminalConfig-expected.conf
  tests/modules/programs/kitty/example-quickAccessTerminalConfig.nix
Labels: terminal

#7757 oh-my-posh: add cache clearing on package version changes
  modules/programs/oh-my-posh.nix
Labels: shell

#7799 rclone: check existence of file rather than using `cat`
  modules/programs/rclone.nix
Labels: backup

#7778 lutris: add defaultWinePackage option
  modules/programs/lutris.nix
  tests/modules/programs/lutris/runners-configuration.nix
Labels: gaming

#7802 podman: add nftables to default container path
  modules/services/podman-linux/containers.nix
Labels: containers

#7751 go: use env file instead of home.sessionVariables
  modules/programs/go.nix
  tests/modules/programs/go/default.nix
  tests/modules/programs/go/env
  tests/modules/programs/go/env-old-options
  tests/modules/programs/go/env-suboptions-unset
  tests/modules/programs/go/example-config.nix
  tests/modules/programs/go/old-options.nix
  tests/modules/programs/go/packages-custom-gopath.nix
  tests/modules/programs/go/packages-default-gopath.nix
  tests/modules/programs/go/packages-invalid-main-gopath.nix
  tests/modules/programs/go/packages/text/main.go
  tests/modules/programs/go/packages/time/main.go
  tests/modules/programs/go/suboptions-unset.nix
Labels: dev-tools

#7785 khard: support discover entries
  modules/programs/khard.nix
  tests/modules/programs/khard/default.nix
  tests/modules/programs/khard/discover_type.nix
  tests/modules/programs/khard/discover_type_expected
Labels: contacts

#7820 sway: drop oxalica from maintainer
  all-maintainers.nix
  modules/services/window-managers/i3-sway/sway.nix
Labels: window-managers

#7823 add service status cmd to desc
  modules/services/activitywatch.nix
Labels: monitoring

#7829 mise: statically generate nushell config
  modules/programs/mise.nix
  tests/modules/programs/mise/nushell-integration.nix
Labels: dev-tools

#6763 nushell: expose config dir location as option
  modules/programs/nushell.nix
  tests/modules/programs/nushell/config-dir.nix
  tests/modules/programs/nushell/default.nix
Labels: shell

#7854 Backport nullable programs.zed-editor.package
  modules/programs/zed-editor.nix
Labels: editors, monitoring, containers

#7852 syncthing: handle per-folder `encryptionPasswordFile`
  modules/services/syncthing.nix
Labels: sync

#7865 mpvpaper: fix typos
  modules/programs/mpvpaper.nix
Labels: video

#7875 syncthing: assert tray service content in test
  tests/modules/services/syncthing/linux/tray.nix
Labels: sync

#7882 mods: get ipsavitsky from Nixpkgs maintainers list
  modules/programs/mods.nix
Labels: dev-tools

#7888 gurk-rs: remove references to deprecated 'data_path' option from documentation
  modules/programs/gurk-rs.nix
Labels: cli-tools, messaging

#7904 fish: support theme plugins
  modules/programs/fish.nix
  tests/modules/programs/fish/default.nix
  tests/modules/programs/fish/themes.nix
Labels: shell
