Repository nix-community/home-manager, pull requests merged in 2025-02, with the labels that each got.

#6407 firefox: fix referencing firefox fork name in profile-specific docs
  modules/programs/firefox/mkFirefoxModule.nix
Labels: program: firefox

#6403 firefox: remove old unused test file
  tests/modules/programs/firefox/profile-settings.nix
Labels: program: firefox

#6309 bash: Make sure HISTFILE's directory exists
  modules/programs/bash.nix
  tests/modules/programs/bash/bash-history-control-with-file.nix
  tests/modules/programs/bash/default.nix
Labels: shell

#6429 neomutt: fix default for 'map' in macros/binds
  modules/programs/neomutt.nix
Labels: mail

#6443 bash: Make HISTFILESIZE and HISTSIZE nullable
  modules/programs/bash.nix
Labels: shell

#6421 firefox: correct vendorPath of firefox forks
  modules/programs/floorp.nix
  modules/programs/librewolf.nix
Labels: program: firefox

#6106 accounts/email: provide realName option for alias
  modules/accounts/email.nix
  modules/programs/mu.nix
  modules/programs/notmuch.nix
  modules/programs/thunderbird.nix
Labels: mail

#5716 jqp: add module
  modules/misc/news.nix
  modules/modules.nix
  modules/programs/jqp.nix
  tests/default.nix
  tests/modules/programs/jqp/basic-configuration.nix
  tests/modules/programs/jqp/basic-configuration.yaml
  tests/modules/programs/jqp/default.nix
Labels: merge conflict

#5613 thunderbird: allow managing feed accounts
  modules/programs/thunderbird.nix
  tests/modules/programs/thunderbird/thunderbird-expected-first-linux.js
  tests/modules/programs/thunderbird/thunderbird.nix
Labels: mail, status: stale

#5608 firefox: Allow to add PKCS11 modules
  modules/programs/firefox/mkFirefoxModule.nix
Labels: status: stale

#6522 tests/neovim: resolve deprecation
  tests/modules/programs/neovim/plugin-config.nix
Labels: neovim

#6530 aerc-accounts: fix xoauth2 config generation issue
  modules/programs/aerc-accounts.nix
  tests/modules/programs/aerc/default.nix
  tests/modules/programs/aerc/oauth.expected
  tests/modules/programs/aerc/oauth.nix
Labels: mail
