Repository nix-community/home-manager, pull requests merged in 2025-07, with the labels that each got.

#7370 mpvpaper: fix eval if no settings are defined
  modules/programs/mpvpaper.nix
Labels: video

#7375 kitty: add config change signal on darwin
  modules/programs/kitty.nix
Labels: terminal

#7377 podman: support mounts configuration
  modules/services/podman-linux/default.nix
  tests/modules/services/podman-linux/configuration-mounts-expected.conf
  tests/modules/services/podman-linux/configuration.nix
Labels: containers

#7280 aerc: allow config sections to be lines
  modules/programs/aerc/default.nix
  tests/modules/programs/aerc/extraConfig.expected
  tests/modules/programs/aerc/settings.nix
Labels: mail

#6784 firefox: add release option
  modules/programs/firefox/mkFirefoxModule.nix
Labels: program: firefox, browsers

#7398 i3-sway/lib: modifier accepts any string
  modules/services/window-managers/i3-sway/lib/options.nix
Labels: window-managers

#7417 wlogout: use lines for css style
  modules/programs/wlogout.nix
Labels: wayland

#7414 Improve error when failing to build Neomutt config
  modules/programs/neomutt/default.nix
Labels: mail

#7425 lutris: make module x86_64-linux only
  modules/programs/lutris.nix
  tests/modules/programs/lutris/default.nix
Labels: gaming

#7402 firefox: add extension permissions
  modules/programs/firefox/mkFirefoxModule.nix
  tests/modules/programs/firefox/common.nix
  tests/modules/programs/firefox/profiles/extensions/assertions.nix
Labels: browsers

#7431 cliphist: use lib.getExe
  modules/services/cliphist.nix
Labels: clipboard

#7467 gurk-rs: fix missing s in home.packages
  modules/programs/gurk-rs.nix
Labels: cli-tools, messaging

#7472 dunst: UWSM compatibility
  modules/services/dunst.nix
Labels: x11, notification

#7435 starship: set `STARSHIP_CONFIG` var and add option to set config path
  modules/programs/starship.nix
  tests/modules/programs/starship/settings.nix
Labels: shell

#7493 zed-editor: support tasks
  modules/programs/zed-editor.nix
  tests/modules/programs/zed-editor/default.nix
  tests/modules/programs/zed-editor/tasks-empty.nix
  tests/modules/programs/zed-editor/tasks.nix
Labels: editors

#7526 yarn: add module
  modules/programs/yarn/default.nix
  tests/modules/programs/yarn/default.nix
  tests/modules/programs/yarn/empty-config.nix
  tests/modules/programs/yarn/example-config.nix
  tests/modules/programs/yarn/example-config.yml
Labels: backport release-25.05

#7541 mpd: fix typo
  modules/services/mpd.nix
Labels: audio

#7547 treewide: remove config dependency on docs
  modules/misc/nixgl.nix
  modules/programs/ashell.nix
  modules/programs/chromium.nix
  modules/programs/codex.nix
  modules/programs/firefox/mkFirefoxModule.nix
  modules/programs/hyprlock.nix
  modules/programs/keychain.nix
  modules/programs/obsidian.nix
  modules/programs/swayr.nix
  modules/programs/vscode/default.nix
  modules/programs/yambar.nix
  modules/services/cliphist.nix
  modules/services/hyprshell.nix
  modules/services/window-managers/hyprland.nix
  modules/services/window-managers/i3-sway/lib/options.nix
  modules/services/window-managers/i3-sway/sway.nix
  modules/services/wlsunset.nix
Labels: wayland, browsers, x11, cli-tools, clipboard, bars, productivity, window-managers

#7507 hyprland: Add `"output"` to `importantPrefixes` option default
  modules/services/window-managers/hyprland.nix
  tests/modules/services/hyprland/simple-config.conf
  tests/modules/services/hyprland/simple-config.nix
Labels: merge conflict, window-managers

#7582 udiskie: fix getExe warning
  modules/services/udiskie.nix
Labels: desktop-utilities

#7566 nh: Add options for specific flakes
  modules/programs/nh.nix
  tests/modules/programs/nh/darwin/config.nix
  tests/modules/programs/nh/linux/config.nix
Labels: dev-tools
