Repository nix-community/home-manager, pull requests merged in 2025-05, with the labels that each got.

#6959 thunderbird: fix accounts being removed
  modules/programs/thunderbird.nix
Labels: mail

#6531 thunderbird: darwin cleanup
  modules/programs/thunderbird.nix
  tests/modules/programs/thunderbird/thunderbird.nix
Labels: mail

#6960 tests: enable all firefox tests on darwin (plus derivations)
  modules/programs/firefox/mkFirefoxModule.nix
  tests/default.nix
  tests/modules/programs/firefox/policies.nix
  tests/modules/programs/firefox/profiles/bookmarks/attrset.nix
  tests/modules/programs/firefox/profiles/bookmarks/default.nix
  tests/modules/programs/firefox/profiles/containers/default.nix
  tests/modules/programs/firefox/profiles/extensions/default.nix
  tests/modules/programs/firefox/profiles/overwrite/default.nix
  tests/modules/programs/firefox/profiles/search/default.nix
  tests/modules/programs/firefox/profiles/settings/default.nix
  tests/modules/programs/firefox/profiles/userchrome/default.nix
  tests/modules/programs/firefox/setup-firefox-mock-overlay.nix
  tests/modules/programs/firefox/state-version-19_09.nix
Labels: program: firefox, browsers

#6948 mako: refactor
  modules/services/mako.nix
  tests/default.nix
  tests/modules/services/mako/config
  tests/modules/services/mako/default.nix
  tests/modules/services/mako/example-config.nix
Labels: wayland, notification

#6966 wofi: allow path to style.css
  modules/programs/wofi.nix
  tests/modules/programs/wofi/default.nix
  tests/modules/programs/wofi/style-local-file.nix
Labels: wayland

#6967 i3bar-river: add module
  modules/modules.nix
  modules/programs/i3bar-river.nix
  tests/default.nix
  tests/modules/programs/i3bar-river/config.toml
  tests/modules/programs/i3bar-river/default.nix
  tests/modules/programs/i3bar-river/example-config.nix
Labels: x11

#6968 mako: fix criterias typo
  modules/services/mako.nix
  tests/modules/services/mako/example-config.nix
Labels: wayland, notification

#6970 ghostty: fix config syntax file location on darwin
  modules/programs/ghostty.nix
Labels: terminal, git

#6977 mako: use ini atom type
  modules/services/mako.nix
  tests/modules/services/mako/example-config.nix
Labels: wayland, notification

#6989 alot: allow commas in maildir path
  modules/programs/alot.nix
  tests/modules/programs/alot/alot-expected.conf
Labels: mail

#6026 Sbt credentials scoping to build rather than projects.
  modules/programs/sbt.nix
  tests/modules/programs/sbt/credentials.nix
Labels: dev-tools

#6978 git: configure patdiff through [patdiff] git section
  modules/programs/git.nix
  tests/darwinScrublist.nix
  tests/modules/programs/git/default.nix
  tests/modules/programs/git/git-patdiff-expected.conf
  tests/modules/programs/git/git-patdiff.nix
Labels: git

#6115 rofi: modes option
  modules/programs/rofi.nix
  tests/modules/programs/rofi/custom-theme-config.rasi
  tests/modules/programs/rofi/valid-config-expected.rasi
  tests/modules/programs/rofi/valid-config.nix
Labels: x11

#7003 rofi: modes optional
  modules/programs/rofi.nix
  tests/modules/programs/rofi/custom-theme-config.rasi
Labels: x11

#7005 neovide: fix error when no settings are declared
  modules/programs/neovide.nix
Labels: editors

#6999 direnv: update nushell env conversion logic
  modules/programs/direnv.nix
Labels: cli-tools

#6994 jujutsu: store configuration in $XDG_CONFIG_HOME for all platforms
  modules/programs/jujutsu.nix
  tests/modules/programs/jujutsu/empty-config.nix
  tests/modules/programs/jujutsu/example-config.nix
Labels: git

#7014 Revert "direnv: update nushell env conversion logic"
  modules/programs/direnv.nix
Labels: cli-tools

#7031 zellij: add themes option
  modules/programs/zellij.nix
  tests/modules/programs/zellij/default.nix
  tests/modules/programs/zellij/theme.nix
Labels: cli-tools

#7030 bacon: add prefs location to settings decription
  modules/programs/bacon.nix
Labels: dev-tools

#7048 gnome-terminal: add package option
  modules/programs/gnome-terminal.nix
Labels: terminal

#7053 foliate: fix theme settings example
  modules/programs/foliate.nix
  tests/modules/programs/foliate/basic-theme.nix
Labels: media

#7063 emacs: respect `defaultEditor` on Darwin
  modules/services/emacs.nix
Labels: editors

#7065 Mako: provide dbus service file
  modules/services/mako.nix
Labels: wayland, notification

#7060 rclone: declarative mounts
  modules/programs/rclone.nix
  tests/integration/standalone/rclone/default.nix
  tests/integration/standalone/rclone/mount.nix
Labels: backup

#7096 Add support for darwin to services.home-manager.autoExpire
  modules/services/home-manager-auto-expire.nix
  tests/default.nix
  tests/modules/services/home-manager-auto-expire-darwin/basic-configuration.nix
  tests/modules/services/home-manager-auto-expire-darwin/default.nix
  tests/modules/services/home-manager-auto-expire-darwin/expected-agent.plist
  tests/modules/services/home-manager-auto-expire-darwin/frequency-assertion.nix
Labels: system

#7081 direnv: Fix `default` syntax for nushell integration
  modules/programs/direnv.nix
Labels: cli-tools

#7116 treewide: convert package options to use mkPackageOption
  modules/misc/xdg-mime.nix
  modules/programs/lutris.nix
  modules/programs/neovim.nix
  modules/programs/tmux.nix
  modules/programs/vim.nix
  modules/services/avizo.nix
  modules/services/betterlockscreen.nix
  modules/services/clipmenu.nix
  modules/services/dunst.nix
  modules/services/dwm-status.nix
  modules/services/easyeffects.nix
  modules/services/espanso.nix
  modules/services/etesync-dav.nix
  modules/services/flameshot.nix
  modules/services/fnott.nix
  modules/services/fusuma.nix
  modules/services/git-sync.nix
  modules/services/gromit-mpx.nix
  modules/services/imapnotify.nix
  modules/services/kanshi.nix
  modules/services/kdeconnect.nix
  modules/services/mbsync.nix
  modules/services/mpd-discord-rpc.nix
  modules/services/mpd.nix
  modules/services/mpdris2.nix
  modules/services/nextcloud-client.nix
  modules/services/notify-osd.nix
  modules/services/pantalaimon.nix
  modules/services/parcellite.nix
  modules/services/picom.nix
  modules/services/playerctld.nix
  modules/services/plex-mpv-shim.nix
  modules/services/podman-linux/options.nix
  modules/services/pulseeffects.nix
  modules/services/recoll.nix
  modules/services/screen-locker.nix
  modules/services/signaturepdf.nix
  modules/services/spotifyd.nix
  modules/services/stalonetray.nix
  modules/services/status-notifier-watcher.nix
  modules/services/sxhkd.nix
  modules/services/taffybar.nix
  modules/services/trayer.nix
  modules/services/twmn.nix
  modules/services/unclutter.nix
  modules/services/vdirsyncer.nix
  modules/services/volnoti.nix
  modules/services/window-managers/awesome.nix
  modules/services/window-managers/bspwm/options.nix
  modules/services/window-managers/herbstluftwm.nix
  modules/services/window-managers/spectrwm.nix
  modules/services/window-managers/wayfire.nix
  modules/services/wlsunset.nix
  modules/services/wluma.nix
  modules/services/xembed-sni-proxy.nix
  modules/services/xidlehook.nix
  modules/services/xscreensaver.nix
  modules/services/xsettingsd.nix
  modules/services/yubikey-agent.nix
Labels: mail, neovim, wayland, calendar, editors, git, media, x11, cli-tools, sync, system, clipboard, notification, messaging

#7121 fish: add binds option
  modules/programs/fish.nix
  tests/modules/programs/fish/binds.nix
  tests/modules/programs/fish/default.nix
Labels: shell

#5277 kodi: make type for settings less restrictive
  modules/programs/kodi.nix
Labels: media

#7127 misc: add librewolf native messaging hosts
  modules/misc/mozilla-messaging-hosts.nix
  modules/programs/firefox.nix
  modules/programs/firefox/mkFirefoxModule.nix
  modules/programs/floorp.nix
  modules/programs/librewolf.nix
Labels: program: firefox, browsers
