Repository nix-community/home-manager, pull requests merged in 2025-08, with the labels that each got.

#7549 tmux: shortcut and prefix settings
  modules/programs/tmux.nix
  tests/modules/programs/tmux/prefix.conf
  tests/modules/programs/tmux/shortcut-without-prefix.conf
Labels: cli-tools

#7605 htop: add more fields
  modules/programs/htop.nix
Labels: cli-tools

#7616 nushell: remove Philipp-M as maintainer
  modules/programs/nushell.nix
Labels: shell

#7611 zsh: option to define autoloadable site-functions
  modules/programs/zsh/default.nix
  tests/modules/programs/zsh/default.nix
  tests/modules/programs/zsh/siteFunctions-mkcd.nix
Labels: shell

#7630 git-credential-keepassxc: init module
  modules/programs/git-credential-keepassxc.nix
  tests/modules/programs/git-credential-keepassxc/custom-groups.nix
  tests/modules/programs/git-credential-keepassxc/default-config.nix
  tests/modules/programs/git-credential-keepassxc/default.nix
Labels: git

#7635 git-credential-keepassxc: fix eval
  modules/programs/git-credential-keepassxc.nix
Labels: git

#7629 keepassxc: add autostart option
  modules/programs/keepassxc.nix
  tests/modules/programs/keepassxc/autostart.nix
  tests/modules/programs/keepassxc/default.nix
Labels: password-manager

#7675 keepassxc: note the native messaging hosts manifest installation conflict
  modules/programs/keepassxc.nix
Labels: password-manager

#7682 tmux: make package nullable
  modules/programs/tmux.nix
Labels: cli-tools

#7696 nh: allow absolute flake paths
  modules/programs/nh.nix
Labels: dev-tools

#7722 swaylock: document how to fix PAM on non-NixOS
  modules/programs/swaylock.nix
Labels: wayland

#7729 blueman-applet: fix typo in systemdTargets
  modules/services/blueman-applet.nix
Labels: desktop-utilities

#7737 ssh: provide code snippet in enableDefaultConfig description
  modules/programs/ssh.nix
Labels: system

#7740 programs.rclone: various fixes
  modules/programs/rclone.nix
  tests/integration/standalone/rclone/default.nix
  tests/integration/standalone/rclone/secrets-arbitrary-characters.nix
Labels: backup

#7744 jq: make `colors` and `package` nullable
  modules/programs/jq.nix
Labels: cli-tools

#7742 distrobox: add settings option and other general improvements
  modules/programs/distrobox.nix
  tests/modules/programs/distrobox/assert-containers-systemd-unit.nix
  tests/modules/programs/distrobox/assert-package-systemd-unit.nix
  tests/modules/programs/distrobox/containers.ini
  tests/modules/programs/distrobox/default.nix
  tests/modules/programs/distrobox/distrobox.conf
  tests/modules/programs/distrobox/example-config.nix
  tests/modules/programs/distrobox/no-asserts.nix
Labels: containers

#7501 mkFirefoxModule: policies option work for darwin
  modules/programs/firefox/default.nix
  modules/programs/firefox/mkFirefoxModule.nix
Labels: browsers
