Repository nix-community/home-manager, pull requests merged in 2025-03, with the labels that each got.

#6570 mbsync: Wrap final maildir path with single quotes to prevent escapes
  modules/programs/mbsync.nix
Labels: mail

#3856 firefox: Support paths for userChrome & userContent
  modules/programs/firefox/mkFirefoxModule.nix
Labels: program: firefox

#5792 zsh: correct syntax option to syntax-highlighting
  modules/programs/zsh.nix
  tests/modules/programs/zsh/syntax-highlighting.nix
Labels: shell

#6579 thunderbird: set additional gmail server settings
  modules/programs/thunderbird.nix
Labels: mail

#6479 zsh: refactor zsh configuration for better order control over `.zshrc`
  modules/misc/news.nix
  modules/programs/zsh.nix
  tests/modules/programs/zsh/default.nix
  tests/modules/programs/zsh/zshrc-content-priorities.nix
Labels: shell, merge conflict

#6116 docs: enhance comment for home.stateVersion option
  docs/manual/installation/nixos.md
Labels: merge conflict

#6637 zsh: update zsh initContent example to use lib.literalExpression
  modules/programs/zsh.nix
Labels: shell

#6652 thunderbird: add message filters option
  modules/programs/thunderbird.nix
  tests/modules/programs/thunderbird/thunderbird-expected-msgFilterRules.dat
  tests/modules/programs/thunderbird/thunderbird.nix
Labels: mail

#6402 firefox: split bookmarks into separate submodule file
  modules/programs/firefox/mkFirefoxModule.nix
  modules/programs/firefox/profiles/bookmarks.nix
  tests/modules/programs/firefox/profiles/bookmarks/default.nix
  tests/modules/programs/firefox/profiles/bookmarks/expected-bookmarks-user.js
  tests/modules/programs/firefox/profiles/shared-path.nix
Labels: program: firefox, merge conflict

#6668 tests/firefox: add applicationName to mock
  tests/modules/programs/firefox/setup-firefox-mock-overlay.nix
Labels: program: firefox

#6208 Added declarative installation instructions
  docs/manual/installation/nixos.md
Labels: status: stale

#6676 zsh: adjust initContent priorities
  modules/programs/zsh.nix
  tests/modules/programs/zsh/zshrc-content-priorities.nix
Labels: shell

#6677 jankyborders: add module
  modules/modules.nix
  modules/services/jankyborders.nix
  tests/default.nix
  tests/modules/services/jankyborders/config.nix
  tests/modules/services/jankyborders/default.nix
  tests/modules/services/jankyborders/jankyborders-config-expected
Labels: system: darwin

#6688 firefox: fix assertion when missing force for extensions
  modules/programs/firefox/mkFirefoxModule.nix
Labels: program: firefox

#6690 firefox: fix migrate search v7 test for all firefox forks
  tests/modules/programs/firefox/profiles/search/expected-migrate-search-v7.json
Labels: program: firefox

#6689 firefox: don't show migration warning when bookmarks isn't set
  modules/programs/firefox/mkFirefoxModule.nix
Labels: program: firefox

#6523 neomutt: remove empty lines
  modules/programs/neomutt.nix
  tests/modules/programs/neomutt/hm-example.com-expected
  tests/modules/programs/neomutt/hm-example.com-gpg-expected.conf
  tests/modules/programs/neomutt/hm-example.com-imap-expected.conf
  tests/modules/programs/neomutt/hm-example.com-msmtp-expected.conf
  tests/modules/programs/neomutt/hm-example.com-no-folder-change-expected.conf
  tests/modules/programs/neomutt/hm-example.com-signature-command-expected
  tests/modules/programs/neomutt/hm-example.com-signature-expected
  tests/modules/programs/neomutt/hm-example.com-starttls-expected
  tests/modules/programs/neomutt/hm-example.com-unmailboxes-expected.conf
  tests/modules/programs/neomutt/neomutt-expected.conf
  tests/modules/programs/neomutt/neomutt-not-primary-expected.conf
  tests/modules/programs/neomutt/neomutt-not-primary.nix
  tests/modules/programs/neomutt/neomutt-with-binds-expected.conf
  tests/modules/programs/neomutt/neomutt-with-binds-with-warning.nix
  tests/modules/programs/neomutt/neomutt-with-binds.nix
  tests/modules/programs/neomutt/neomutt-with-gpg.nix
  tests/modules/programs/neomutt/neomutt-with-imap-expected.conf
  tests/modules/programs/neomutt/neomutt-with-imap-type-mailboxes-expected.conf
  tests/modules/programs/neomutt/neomutt-with-named-mailboxes-expected.conf
  tests/modules/programs/neomutt/neomutt-with-named-mailboxes.nix
  tests/modules/programs/neomutt/neomutt-with-signature.nix
Labels: mail

#6698 zsh: fix concatenation of aliases and global aliases
  modules/programs/zsh.nix
  tests/modules/programs/zsh/aliases.nix
  tests/modules/programs/zsh/default.nix
Labels: shell

#6713 thunderbird: set additional gmail smtpserver settings
  modules/programs/thunderbird.nix
Labels: mail

#6656 launchd: refactor implementation
  modules/launchd/default.nix
Labels: system: darwin
