Repository nix-community/home-manager, pull requests merged in 2025-04, with the labels that each got.

#6744 firefox: fix missing lib
  modules/programs/firefox/mkFirefoxModule.nix
Labels: program: firefox

#6233 swaync: Add onChange
  modules/services/swaync.nix
Labels: status: stale

#6759 (backport to 24.11) broot: get rid of IFDs (#6723)
  modules/programs/broot.nix
  tests/modules/programs/broot/broot.nix
Labels: enhancement

#6799 Add sensible defaults to the localModule similar to the calendar localModule
  modules/accounts/contacts.nix
Labels: contacts

#6761 progs: firefox: *.userChrome may be path or drv
  modules/programs/firefox/mkFirefoxModule.nix
Labels: program: firefox

#6836 mkFirefoxModule: fix userChrome with leading comment
  modules/programs/firefox/mkFirefoxModule.nix
  tests/modules/programs/firefox/profiles/userchrome/chrome/userChrome.css
  tests/modules/programs/firefox/profiles/userchrome/default.nix
  tests/modules/programs/firefox/profiles/userchrome/expected-userchrome.css
Labels: program: firefox

#6840 tests/firefox: fix test commands
  tests/modules/programs/firefox/profiles/userchrome/default.nix
Labels: program: firefox

#6855 kitty: add git diff integration
  modules/programs/kitty.nix
Labels: terminal

#6851 fish: allow multiple commands for command option in abbreviations
  modules/programs/fish.nix
  tests/modules/programs/fish/abbrs.nix
Labels: shell

#6850 eza: add theme option
  modules/programs/eza.nix
Labels: cli-tools

#6729 restic: init module
  modules/modules.nix
  modules/services/restic.nix
  tests/default.nix
  tests/integration/default.nix
  tests/integration/standalone/restic-home.nix
  tests/integration/standalone/restic.nix
  tests/modules/services/restic/backup-configs.nix
  tests/modules/services/restic/default.nix
  tests/modules/services/restic/unit-files.nix
Labels: merge conflict

#6849 atuin: add support for str + path themes
  modules/programs/atuin.nix
Labels: cli-tools

#4096 shikane: init module
  modules/modules.nix
  modules/services/shikane.nix
  tests/default.nix
  tests/modules/services/shikane/basic-configuration.nix
  tests/modules/services/shikane/default.nix
  tests/modules/services/shikane/expected.toml
Labels: merge conflict

#6861 atuin: Fix deprecated string type warning
  modules/programs/atuin.nix
Labels: cli-tools

#6868 git: support maintenance on darwin
  modules/programs/git.nix
  tests/modules/programs/git/default.nix
  tests/modules/programs/git/expected-agent-daily.plist
  tests/modules/programs/git/expected-agent-hourly.plist
  tests/modules/programs/git/expected-agent-weekly.plist
  tests/modules/programs/git/git-with-maintenance.nix
Labels: git

#6875 lorri: fix missing makeSearchPath
  modules/services/lorri.nix
Labels: dev-tools

#6877 xsettingsd: Remove erroneous `lib.` insertion
  modules/services/xsettingsd.nix
Labels: x11

#6879 keepassxc: register as native messaging host
  modules/programs/keepassxc.nix
Labels: password-manager

#6887 mkFirefoxModule: revert userChrome changes
  modules/programs/firefox/mkFirefoxModule.nix
  tests/modules/programs/firefox/profiles/userchrome/default.nix
Labels: program: firefox, browsers

#6841 zsh: deprecate initLocation options in favor of initContent
  modules/programs/zsh.nix
Labels: shell

#6908 wezterm: don't create config if extraConfig is empty, and don't create one by default
  modules/programs/wezterm.nix
  tests/modules/programs/wezterm/empty-setting.nix
Labels: terminal

#6909 thefuck: Add alias option
  modules/programs/thefuck.nix
  tests/modules/programs/thefuck/integration-enabled-instant.nix
  tests/modules/programs/thefuck/integration-enabled.nix
Labels: cli-tools

#6915 neomutt: use correct neomutt in config file
  modules/programs/neomutt.nix
Labels: mail

#6916 zsh: add type to zprof.enable option
  modules/programs/zsh.nix
Labels: shell

#6913 mkFirefoxModule: support wrapped darwin derivations
  modules/programs/firefox/mkFirefoxModule.nix
Labels: program: firefox, browsers

#6925 gh: add `hosts` option
  modules/programs/gh.nix
  tests/modules/programs/gh/default.nix
  tests/modules/programs/gh/hosts-file.nix
Labels: git

#6928 rofi: remove thiagokokada from maintainers
  modules/programs/rofi.nix
Labels: x11

#6898 nh: add path option for flake
  modules/programs/nh.nix
Labels: dev-tools

#6919 rclone: make secret injection non-interactive
  modules/programs/rclone.nix
Labels: backup

#6932 pls: enableAliases -> enableShellIntegration
  modules/programs/pls.nix
  tests/modules/programs/pls/bash.nix
  tests/modules/programs/pls/fish.nix
  tests/modules/programs/pls/zsh.nix
Labels: cli-tools
