Repository nix-community/home-manager, pull requests merged in 2025-06, with the labels that each got.

#7191 fzf: prefer `source` for Zsh integration
  modules/programs/fzf.nix
Labels: cli-tools

#7144 dwm-status: run with --quiet
  modules/services/dwm-status.nix
Labels: x11

#7179 jellyfin-mpv-shim: make sure the config file is read properly
  modules/services/jellyfin-mpv-shim.nix
Labels: video

#7197 zsh: add plugins.*.completions paths to fpath
  modules/programs/zsh.nix
  tests/modules/programs/zsh/default.nix
  tests/modules/programs/zsh/plugins.nix
Labels: shell

#6993 zed-editor: respect user interactivity with settings and keymaps
  modules/programs/zed-editor.nix
  tests/modules/programs/zed-editor/extensions.nix
  tests/modules/programs/zed-editor/keymap.nix
  tests/modules/programs/zed-editor/settings.nix
Labels: editors

#7210 chawan: fix example for settings
  modules/programs/chawan.nix
Labels: messaging

#7222 zed-editor: userKeymaps default to empty array
  modules/programs/zed-editor.nix
Labels: editors

#7220 zed-editor: allow for nullable package
  modules/programs/zed-editor.nix
Labels: editors

#7228 ghostty: only source fish shell integration script when shell is interactive
  modules/programs/ghostty.nix
Labels: terminal, git

#7237 hypridle: add systemdTarget option
  modules/services/hypridle.nix
Labels: wayland

#7219 fix: ensure newline after vim.cmd[[source...]] in neovim init.lua
  modules/programs/neovim.nix
  tests/modules/programs/neovim/plugin-config.expected
  tests/modules/programs/neovim/plugin-config.nix
Labels: editors

#7260 opensnitch-ui: add package option
  modules/services/opensnitch-ui.nix
Labels: system-tools

#7259 meli: move freeformat settings to example
  modules/programs/meli.nix
  tests/modules/programs/meli/expected.toml
Labels: mail, dev-tools

#7267 fix meli eval warning
  .github/labeler.yml
  modules/programs/meli.nix
Labels: dev-tools

#7252 atuin: fix docs url
  modules/programs/atuin.nix
Labels: cli-tools

#7138 way-displays: support stateful configuration file
  modules/services/way-displays.nix
Labels: wayland

#7276 sketchybar: add meta.mainProgram to finalPackage
  modules/programs/sketchybar.nix
Labels: bars

#7284 firefox: allow separators in bookmarks
  modules/programs/firefox/profiles/bookmark-types.nix
  modules/programs/firefox/profiles/bookmarks.nix
  tests/modules/programs/firefox/profiles/bookmarks/default.nix
  tests/modules/programs/firefox/profiles/bookmarks/expected-bookmarks.html
Labels: browsers

#7293 hyprland: update wiki domain name
  modules/programs/hyprlock.nix
  modules/services/hypridle.nix
  modules/services/hyprpaper.nix
  modules/services/window-managers/hyprland.nix
Labels: wayland, window-managers

#7302 helix: don't ignore extraConfig when no other settings
  modules/programs/helix.nix
  tests/modules/programs/helix/default.nix
  tests/modules/programs/helix/only-extraconfig-expected.toml
  tests/modules/programs/helix/only-extraconfig.nix
Labels: editors

#7271 sway: add `wayland.windowManager.sway.systemd.dbusImplementation`
  modules/services/window-managers/i3-sway/sway.nix
Labels: window-managers

#7281 Add guiAddress to syncthing configuration
  modules/services/syncthing.nix
Labels: sync

#7339 direnv: fix nushell cell-path handling
  modules/programs/direnv.nix
Labels: cli-tools
