Repository nix-community/home-manager, pull requests merged in 2025-01, with the labels that each got.

#5709 maintainers: updated username to midirhee12
  modules/lib/maintainers.nix
  modules/services/network-manager-applet.nix
Labels: status: stale

#6254 Document how to bind Ctrl keys in neomutt config
  modules/programs/neomutt.nix
Labels: mail

#6283 neomutt: added missing sort options
  modules/programs/neomutt.nix
Labels: mail

#6275 treewide: stub tests
  modules/programs/ranger.nix
  tests/modules/programs/alacritty/default.nix
  tests/modules/programs/alacritty/example-settings.nix
  tests/modules/programs/alacritty/settings-merging.nix
  tests/modules/programs/alacritty/toml-config.nix
  tests/modules/programs/broot/broot.nix
  tests/modules/programs/ranger/configuration.nix
  tests/modules/programs/vim-vint/basic-configuration.nix
  tests/modules/programs/zsh/history-ignore-pattern.nix
  tests/modules/programs/zsh/history-path-new-custom.nix
  tests/modules/programs/zsh/history-path-new-default.nix
  tests/modules/programs/zsh/history-path-old-custom.nix
  tests/modules/programs/zsh/history-path-old-default.nix
  tests/modules/programs/zsh/history-substring-search.nix
  tests/modules/programs/zsh/prezto.nix
  tests/modules/programs/zsh/session-variables.nix
  tests/modules/programs/zsh/syntax-highlighting.nix
  tests/modules/programs/zsh/zsh-abbr.nix
  tests/modules/programs/zsh/zsh-stubs.nix
Labels: shell

#5938 zsh/prezto: add `package` option
  modules/programs/zsh.nix
  modules/programs/zsh/prezto.nix
Labels: shell

#5252 todoman: add todoman module
  modules/lib/maintainers.nix
  modules/modules.nix
  modules/programs/todoman.nix
  tests/modules/programs/todoman/config.nix
  tests/modules/programs/todoman/default.nix
  tests/modules/programs/todoman/todoman-config-expected
Labels: status: stale

#6324 thunderbird: Enable tests for Darwin
  tests/default.nix
  tests/modules/programs/thunderbird/thunderbird-expected-first-darwin.js
  tests/modules/programs/thunderbird/thunderbird-expected-first-linux.js
  tests/modules/programs/thunderbird/thunderbird-expected-profiles-darwin.ini
  tests/modules/programs/thunderbird/thunderbird-expected-profiles-linux.ini
  tests/modules/programs/thunderbird/thunderbird-expected-second-darwin.js
  tests/modules/programs/thunderbird/thunderbird-expected-second-linux.js
  tests/modules/programs/thunderbird/thunderbird.nix
Labels: mail

#6336 mu: allow option to set muhome
  modules/programs/mu.nix
  tests/modules/programs/mu/basic-configuration.nix
  tests/modules/programs/mu/custom-configuration.nix
  tests/modules/programs/mu/default.nix
Labels: mail

#5297 himalaya: update for `v1`
  modules/programs/himalaya.nix
  tests/modules/programs/himalaya/basic-expected.toml
Labels: mail

#6292 thunderbird: add native host support
  modules/programs/thunderbird.nix
  tests/modules/programs/thunderbird/thunderbird.nix
Labels: mail

#6227 zsh: added HIST_SAVE_NO_DUPS and HIST_FIND_NO_DUPS options to zsh for…
  modules/programs/zsh.nix
Labels: shell

#6371 Revert "thunderbird: add native host support (#6292)"
  modules/programs/thunderbird.nix
  tests/modules/programs/thunderbird/thunderbird.nix
Labels: mail

#5251 xdg-autostart: add module
  modules/misc/xdg-autostart.nix
  modules/modules.nix
  tests/modules/misc/xdg/autostart.nix
  tests/modules/misc/xdg/default.nix
Labels: status: stale

#5229 Add flake-parts module
  docs/manual/nix-flakes.md
  docs/manual/nix-flakes/flake-parts.md
  flake-module.nix
  flake.nix
Labels: status: stale

#6378 neovim: remove with lib
  modules/programs/neovim.nix
Labels: neovim
